n8n/workflows/01-telegram-webhook-handler.json
{
  "updatedAt": "2026-03-28T18:20:06.700Z",
  "createdAt": "2026-03-27T19:56:57.516Z",
  "id": "fI5u4rs3iXPfeXFl",
  "name": "FitAI - Telegram Webhook Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "11111111-0001-4000-8000-000000000001",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "name": "Telegram Trigger",
      "position": [
        0,
        320
      ],
      "webhookId": "63001b72-4471-4896-b3b3-8ec56a0d9da6",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "callback"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "11111111-0002-4000-8000-000000000002",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "name": "Route Message Type",
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "11111111-0003-4000-8000-000000000003",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "name": "Get Voice File",
      "position": [
        512,
        512
      ],
      "webhookId": "5debfbcc-0498-4e8f-a50a-4b70b1694912",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "11111111-0004-4000-8000-000000000004",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "name": "Transcribe Voice",
      "position": [
        752,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v1",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "v2",
              "name": "chatId",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "id": "v3",
              "name": "telegramId",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            {
              "id": "v4",
              "name": "firstName",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0005-4000-8000-000000000005",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Set Text from Voice",
      "position": [
        1008,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "t1",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message.text || $json.callback_query.data }}"
            },
            {
              "id": "t2",
              "name": "chatId",
              "type": "string",
              "value": "={{ $json.message.chat.id || $json.callback_query.message.chat.id }}"
            },
            {
              "id": "t3",
              "name": "telegramId",
              "type": "string",
              "value": "={{ $json.message.from.id || $json.callback_query.from.id }}"
            },
            {
              "id": "t4",
              "name": "firstName",
              "type": "string",
              "value": "={{ $json.message.from.first_name || $json.callback_query.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0006-4000-8000-000000000006",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Set Text from Message",
      "position": [
        752,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id as user_id, u.first_name, u.is_active, COALESCE(m.status::text, 'none') as membership_status, CASE WHEN COALESCE(up.onboarding_completed, false) THEN 'true' ELSE 'false' END as onboarding_completed FROM users u LEFT JOIN memberships m ON m.user_id = u.id AND m.status = 'active' AND m.expires_at > NOW() LEFT JOIN user_profiles up ON up.user_id = u.id WHERE u.telegram_id = $1 LIMIT 1",
        "options": {
          "queryReplacement": "={{ $('Set Text from Message').item.json.telegramId }}"
        }
      },
      "id": "11111111-0007-4000-8000-000000000007",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "name": "Check User & Membership",
      "position": [
        1264,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telegram_id, first_name, last_name, username, language_code) VALUES ($1, $2, $3, $4, $5) ON CONFLICT (telegram_id) DO UPDATE SET first_name = EXCLUDED.first_name, last_name = COALESCE(EXCLUDED.last_name, users.last_name), username = COALESCE(EXCLUDED.username, users.username), updated_at = NOW() RETURNING id, telegram_id, first_name",
        "options": {
          "queryReplacement": "={{ [String($('Set Text from Message').item.json.telegramId), String($('Set Text from Message').item.json.firstName || ''), ($('Telegram Trigger').item.json.message?.from?.last_name || null), ($('Telegram Trigger').item.json.message?.from?.username || null), ($('Telegram Trigger').item.json.message?.from?.language_code || 'es')] }}"
        }
      },
      "id": "11111111-0008-4000-8000-000000000008",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "name": "Upsert User",
      "position": [
        1504,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "m1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.membership_status }}",
              "rightValue": "active"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "11111111-0009-4000-8000-000000000009",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "name": "Has Active Membership?",
      "position": [
        1760,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Text from Message').item.json.chatId }}",
        "text": "=Hola {{ $('Set Text from Message').item.json.firstName }}! No tienes una membresia activa. Para acceder al asistente FitAI contacta al administrador.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "11111111-0010-4000-8000-000000000010",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "name": "No Membership Message",
      "position": [
        2000,
        512
      ],
      "webhookId": "20379d01-666f-4ea3-834a-e62dc6c5ff5a",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "o1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.onboarding_completed }}",
              "rightValue": "true"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "11111111-0011-4000-8000-000000000011",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "name": "Onboarding Complete?",
      "position": [
        2000,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Text from Message').item.json.message.text }}",
        "options": {
          "systemMessage": "=Eres FitAI, un asistente personal de nutricion y fitness que opera por Telegram.\n\nUSUARIO:\n- Nombre: {{ $('Check User & Membership').item.json.first_name }}\n- ID: {{ $('Check User & Membership').item.json.user_id }}\n- Chat ID: {{ $('Telegram Trigger').item.json.message?.chat?.id || $('Telegram Trigger').item.json.callback_query?.message?.chat?.id }}\n- userId para herramientas: {{ $('Check User & Membership').item.json.user_id }}\n- Fecha actual: {{ $now.format('dd/MM/yyyy') }}\n\nROL:\nAyudas al usuario a mejorar su alimentacion, ejercicio y habitos de salud. Eres empatico, motivador y practico.\n\nHERRAMIENTAS DISPONIBLES:\n- Progreso: calcula metricas y progreso del usuario\n- PlanComidas: genera un nuevo plan de alimentacion semanal\n- Rutina: genera una nueva rutina de ejercicio\n- RegistrarEvento: guarda eventos del usuario en memoria personal (peso, comidas, perfil, metas)\n\nCUANDO USAR RegistrarEvento:\n- El usuario reporta su peso actual (ej: \"hoy peso 80 kg\") → eventType: weight_log\n- El usuario dice lo que comio (ej: \"desayune avena\") → eventType: meal_reported\n- El usuario actualiza un dato de perfil (ej: \"cambie mi objetivo a 75 kg\") → eventType: profile_update\n- El usuario establece una meta nueva → eventType: goal_set\nSiempre registra ANTES de responder al usuario.\n\nREGLAS:\n- Responde SIEMPRE en espanol\n- Mantén respuestas cortas (Telegram: max 3 parrafos)\n- Usa emojis con moderacion\n- Si el usuario reporta una comida, ayudalo a registrarla y compararla con su plan\n- Si pide su plan de comidas o ejercicio, consulta la base de datos\n- Si necesita un nuevo plan, ofrece generarlo\n- Tono: amigable, como un coach personal cercano\n- NUNCA hagas diagnosticos medicos\n- Si hay una crisis de salud, deriva a profesionales\n\nFORMATO DE SALIDA:\nSolo el mensaje para el usuario, sin metadatos ni explicaciones."
        }
      },
      "id": "11111111-0012-4000-8000-000000000012",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "name": "FitAI Main AI Agent",
      "position": [
        2448,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "id": "11111111-0013-4000-8000-000000000013",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "name": "OpenAI Chat Model",
      "position": [
        2304,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "11111111-0014-4000-8000-000000000014",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "name": "FitAI Memory",
      "position": [
        2448,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Text from Message').item.json['message.text'] }}",
        "options": {
          "systemMessage": "=Eres FitAI y estas completando el perfil de salud de {{ $('Check User & Membership').item.json.first_name }}.\n\nCONTEXTO: El usuario necesita completar su perfil antes de acceder al asistente completo. Recopila la informacion de forma conversacional, un dato a la vez.\n\nINFORMACION A RECOPILAR (en este orden):\n1. Objetivo principal: bajar de peso / ganar musculo / mantener / recomposicion\n2. Genero (para calculos metabolicos): masculino / femenino\n3. Edad (anos)\n4. Altura (cm)\n5. Peso actual (kg)\n6. Nivel de actividad: sedentario / poco activo / moderadamente activo / muy activo / extremadamente activo\n7. Nivel de fitness: principiante / intermedio / avanzado\n8. Restricciones dieteticas (vegetariano, vegano, sin gluten, etc.) o 'ninguna'\n9. Alergias alimentarias o 'ninguna'\n10. Alimentos que no le gustan o 'ninguno'\n11. Lesiones o condiciones fisicas a considerar o 'ninguna'\n12. Equipamiento disponible para ejercicio o 'ninguno / solo casa'\n13. Dias de entrenamiento por semana (1-7)\n14. Numero de comidas al dia preferidas (2-6)\n15. Horario de comidas (desayuno/comida/cena aproximados)\n16. Cultura gastronomica (mexicana, colombiana, espanola, etc.)\n17. Presupuesto para ingredientes: economico / moderado / sin restriccion\n\nCuando tengas TODOS los datos, responde con este JSON exacto al final:\n[PERFIL_COMPLETO]\n{\"objetivo\": \"...\", \"genero\": \"male|female\", \"edad\": 0, \"altura_cm\": 0, \"peso_kg\": 0, \"actividad\": \"sedentary|lightly_active|moderately_active|very_active|extra_active\", \"fitness\": \"beginner|intermediate|advanced\", \"restricciones\": [], \"alergias\": [], \"disgustos\": [], \"lesiones\": [], \"equipamiento\": [], \"dias_entrenamiento\": 0, \"comidas_dia\": 0, \"cultura\": \"...\", \"presupuesto\": \"low|medium|high\"}\n[/PERFIL_COMPLETO]\n\nREGLAS:\n- Responde en espanol\n- Se amigable y motivador\n- Si el usuario responde algo ambiguo, pide clarificacion\n- Confirma cada dato antes de avanzar al siguiente\n- Al final presenta un resumen del perfil para confirmacion"
        }
      },
      "id": "11111111-0015-4000-8000-000000000015",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "name": "Onboarding Agent",
      "position": [
        2528,
        592
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "11111111-0016-4000-8000-000000000016",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "name": "OpenAI Chat Model Onboarding",
      "position": [
        2448,
        800
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=onboarding_{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 20
      },
      "id": "11111111-0017-4000-8000-000000000017",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "name": "Onboarding Memory",
      "position": [
        2624,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Text from Message').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "11111111-0018-4000-8000-000000000018",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "name": "Send Response",
      "position": [
        3424,
        288
      ],
      "webhookId": "a599e63d-7899-46a8-944b-e9d2d9c289f9",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "name": "Progreso",
        "description": "Calcula el progreso de peso y métricas del usuario. Úsala cuando el usuario pregunte por su progreso, evolución de peso, o estadísticas.",
        "workflowId": {
          "__rl": true,
          "value": "bhJ8qqZXr68Id3pH",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "chatId",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "tool-w1-progress",
      "name": "Tool: Progreso",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2992,
        288
      ]
    },
    {
      "parameters": {
        "name": "Plan_Comidas",
        "description": "Genera un plan de alimentación personalizado. Úsala cuando el usuario pida un plan de comidas, dieta, o quiera cambiar su nutrición.",
        "workflowId": {
          "__rl": true,
          "value": "KQhP9lQNxCKeOsbJ",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "chatId",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "tool-w2-meal",
      "name": "Tool: Plan Comidas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2672,
        288
      ]
    },
    {
      "parameters": {
        "name": "Rutina",
        "description": "Genera una rutina de ejercicios personalizada. Úsala cuando el usuario pida una rutina de entrenamiento, ejercicios, o gym.",
        "workflowId": {
          "__rl": true,
          "value": "ETjiYAUhXfsVSyWQ",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "chatId",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "tool-w3-workout",
      "name": "Tool: Rutina",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2832,
        288
      ]
    },
    {
      "parameters": {
        "name": "RegistrarEvento",
        "description": "Registra eventos del usuario en su memoria personal RAG: peso registrado, comida reportada, cambios de perfil, metas establecidas. Usa esta herramienta CADA VEZ que el usuario reporte algo nuevo sobre su salud o progreso (peso actual, lo que comio, un nuevo objetivo).",
        "workflowId": {
          "__rl": true,
          "value": "vAqqjXg2IE1ldgg3",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "eventType",
              "stringValue": "={{ $fromAI('eventType', 'Tipo de evento: weight_log | meal_reported | profile_update | goal_set') }}"
            },
            {
              "name": "eventDataJson",
              "stringValue": "={{ $fromAI('eventData', 'JSON string con los datos del evento. Para weight_log: {\"weight_kg\": 80.5, \"notes\": \"opcional\"}. Para meal_reported: {\"meal_description\": \"desc\", \"calories\": 350, \"meal_type\": \"breakfast|lunch|dinner\"}. Para profile_update: {\"campo\": \"valor\"}. Para goal_set: {\"goal_type\": \"tipo\", \"target_weight_kg\": 75}') }}"
            }
          ]
        }
      },
      "id": "tool-w4-rag",
      "name": "Tool: Registrar Evento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2512,
        288
      ]
    },
    {
      "id": "vs-user-rag-tool-v2",
      "name": "Tool: Contexto Personal",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3120,
        288
      ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en la memoria personal del usuario: historial de peso, comidas reportadas, metas y eventos registrados. Úsala cuando el usuario mencione comidas, peso, o pregunte qué ha registrado.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "user_rag"
        },
        "topK": 5,
        "options": {}
      },
      "credentials": {
        "qdrantApi": {
          "id": "ZgvYkNPmxRynoz3F",
          "name": "Qdrant account Fitia"
        }
      }
    },
    {
      "id": "embeddings-user-rag-v2",
      "name": "OpenAI Embeddings (RAG)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        3120,
        460
      ],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message Type": {
      "main": [
        [
          {
            "node": "Set Text from Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Text from Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Set Text from Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text from Voice": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text from Message": {
      "main": [
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Check User & Membership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User & Membership": {
      "main": [
        [
          {
            "node": "Has Active Membership?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Membership?": {
      "main": [
        [
          {
            "node": "Onboarding Complete?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Membership Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Complete?": {
      "main": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Onboarding Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FitAI Main AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FitAI Memory": {
      "ai_memory": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Onboarding": {
      "ai_languageModel": [
        [
          {
            "node": "Onboarding Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Memory": {
      "ai_memory": [
        [
          {
            "node": "Onboarding Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Progreso": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Plan Comidas": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Rutina": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Registrar Evento": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (RAG)": {
      "ai_embedding": [
        [
          {
            "node": "Tool: Contexto Personal",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Contexto Personal": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "496f8f74-aa29-48fb-884d-24d79dccb1dd",
  "activeVersionId": "496f8f74-aa29-48fb-884d-24d79dccb1dd",
  "versionCounter": 164,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T19:56:57.528Z",
      "createdAt": "2026-03-27T19:56:57.528Z",
      "role": "workflow:owner",
      "workflowId": "fI5u4rs3iXPfeXFl",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T18:20:06.708Z",
    "createdAt": "2026-03-28T18:20:06.708Z",
    "versionId": "496f8f74-aa29-48fb-884d-24d79dccb1dd",
    "workflowId": "fI5u4rs3iXPfeXFl",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "id": "11111111-0001-4000-8000-000000000001",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "name": "Telegram Trigger",
        "position": [
          0,
          320
        ],
        "webhookId": "63001b72-4471-4896-b3b3-8ec56a0d9da6",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "caseSensitive": true,
                    "typeValidation": "loose"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "caseSensitive": true,
                    "typeValidation": "loose"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.voice.file_id }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "voice"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "caseSensitive": true,
                    "typeValidation": "loose"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.callback_query.data }}",
                      "rightValue": ""
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "callback"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "11111111-0002-4000-8000-000000000002",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "name": "Route Message Type",
        "position": [
          256,
          304
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "id": "11111111-0003-4000-8000-000000000003",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "name": "Get Voice File",
        "position": [
          512,
          512
        ],
        "webhookId": "5debfbcc-0498-4e8f-a50a-4b70b1694912",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "id": "11111111-0004-4000-8000-000000000004",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "name": "Transcribe Voice",
        "position": [
          752,
          512
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "v1",
                "name": "message.text",
                "type": "string",
                "value": "={{ $json.text }}"
              },
              {
                "id": "v2",
                "name": "chatId",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              },
              {
                "id": "v3",
                "name": "telegramId",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
              },
              {
                "id": "v4",
                "name": "firstName",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
              }
            ]
          },
          "options": {}
        },
        "id": "11111111-0005-4000-8000-000000000005",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "name": "Set Text from Voice",
        "position": [
          1008,
          512
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "t1",
                "name": "message.text",
                "type": "string",
                "value": "={{ $json.message.text || $json.callback_query.data }}"
              },
              {
                "id": "t2",
                "name": "chatId",
                "type": "string",
                "value": "={{ $json.message.chat.id || $json.callback_query.message.chat.id }}"
              },
              {
                "id": "t3",
                "name": "telegramId",
                "type": "string",
                "value": "={{ $json.message.from.id || $json.callback_query.from.id }}"
              },
              {
                "id": "t4",
                "name": "firstName",
                "type": "string",
                "value": "={{ $json.message.from.first_name || $json.callback_query.from.first_name }}"
              }
            ]
          },
          "options": {}
        },
        "id": "11111111-0006-4000-8000-000000000006",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "name": "Set Text from Message",
        "position": [
          752,
          224
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT u.id as user_id, u.first_name, u.is_active, COALESCE(m.status::text, 'none') as membership_status, CASE WHEN COALESCE(up.onboarding_completed, false) THEN 'true' ELSE 'false' END as onboarding_completed FROM users u LEFT JOIN memberships m ON m.user_id = u.id AND m.status = 'active' AND m.expires_at > NOW() LEFT JOIN user_profiles up ON up.user_id = u.id WHERE u.telegram_id = $1 LIMIT 1",
          "options": {
            "queryReplacement": "={{ $('Set Text from Message').item.json.telegramId }}"
          }
        },
        "id": "11111111-0007-4000-8000-000000000007",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "name": "Check User & Membership",
        "position": [
          1264,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO users (telegram_id, first_name, last_name, username, language_code) VALUES ($1, $2, $3, $4, $5) ON CONFLICT (telegram_id) DO UPDATE SET first_name = EXCLUDED.first_name, last_name = COALESCE(EXCLUDED.last_name, users.last_name), username = COALESCE(EXCLUDED.username, users.username), updated_at = NOW() RETURNING id, telegram_id, first_name",
          "options": {
            "queryReplacement": "={{ [String($('Set Text from Message').item.json.telegramId), String($('Set Text from Message').item.json.firstName || ''), ($('Telegram Trigger').item.json.message?.from?.last_name || null), ($('Telegram Trigger').item.json.message?.from?.username || null), ($('Telegram Trigger').item.json.message?.from?.language_code || 'es')] }}"
          }
        },
        "id": "11111111-0008-4000-8000-000000000008",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "name": "Upsert User",
        "position": [
          1504,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "m1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.membership_status }}",
                "rightValue": "active"
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "11111111-0009-4000-8000-000000000009",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "name": "Has Active Membership?",
        "position": [
          1760,
          304
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Set Text from Message').item.json.chatId }}",
          "text": "=Hola {{ $('Set Text from Message').item.json.firstName }}! No tienes una membresia activa. Para acceder al asistente FitAI contacta al administrador.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "11111111-0010-4000-8000-000000000010",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "name": "No Membership Message",
        "position": [
          2000,
          512
        ],
        "webhookId": "20379d01-666f-4ea3-834a-e62dc6c5ff5a",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "o1",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.onboarding_completed }}",
                "rightValue": "true"
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "11111111-0011-4000-8000-000000000011",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "name": "Onboarding Complete?",
        "position": [
          2000,
          208
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Set Text from Message').item.json.message.text }}",
          "options": {
            "systemMessage": "=Eres FitAI, un asistente personal de nutricion y fitness que opera por Telegram.\n\nUSUARIO:\n- Nombre: {{ $('Check User & Membership').item.json.first_name }}\n- ID: {{ $('Check User & Membership').item.json.user_id }}\n- Chat ID: {{ $('Telegram Trigger').item.json.message?.chat?.id || $('Telegram Trigger').item.json.callback_query?.message?.chat?.id }}\n- userId para herramientas: {{ $('Check User & Membership').item.json.user_id }}\n- Fecha actual: {{ $now.format('dd/MM/yyyy') }}\n\nROL:\nAyudas al usuario a mejorar su alimentacion, ejercicio y habitos de salud. Eres empatico, motivador y practico.\n\nHERRAMIENTAS DISPONIBLES:\n- Progreso: calcula metricas y progreso del usuario\n- PlanComidas: genera un nuevo plan de alimentacion semanal\n- Rutina: genera una nueva rutina de ejercicio\n- RegistrarEvento: guarda eventos del usuario en memoria personal (peso, comidas, perfil, metas)\n\nCUANDO USAR RegistrarEvento:\n- El usuario reporta su peso actual (ej: \"hoy peso 80 kg\") → eventType: weight_log\n- El usuario dice lo que comio (ej: \"desayune avena\") → eventType: meal_reported\n- El usuario actualiza un dato de perfil (ej: \"cambie mi objetivo a 75 kg\") → eventType: profile_update\n- El usuario establece una meta nueva → eventType: goal_set\nSiempre registra ANTES de responder al usuario.\n\nREGLAS:\n- Responde SIEMPRE en espanol\n- Mantén respuestas cortas (Telegram: max 3 parrafos)\n- Usa emojis con moderacion\n- Si el usuario reporta una comida, ayudalo a registrarla y compararla con su plan\n- Si pide su plan de comidas o ejercicio, consulta la base de datos\n- Si necesita un nuevo plan, ofrece generarlo\n- Tono: amigable, como un coach personal cercano\n- NUNCA hagas diagnosticos medicos\n- Si hay una crisis de salud, deriva a profesionales\n\nFORMATO DE SALIDA:\nSolo el mensaje para el usuario, sin metadatos ni explicaciones."
          }
        },
        "id": "11111111-0012-4000-8000-000000000012",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "name": "FitAI Main AI Agent",
        "position": [
          2448,
          0
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "gpt-4o"
          },
          "options": {
            "maxTokens": 1024,
            "temperature": 0.7
          }
        },
        "id": "11111111-0013-4000-8000-000000000013",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "name": "OpenAI Chat Model",
        "position": [
          2304,
          144
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
          "contextWindowLength": 10
        },
        "id": "11111111-0014-4000-8000-000000000014",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "name": "FitAI Memory",
        "position": [
          2448,
          144
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Set Text from Message').item.json['message.text'] }}",
          "options": {
            "systemMessage": "=Eres FitAI y estas completando el perfil de salud de {{ $('Check User & Membership').item.json.first_name }}.\n\nCONTEXTO: El usuario necesita completar su perfil antes de acceder al asistente completo. Recopila la informacion de forma conversacional, un dato a la vez.\n\nINFORMACION A RECOPILAR (en este orden):\n1. Objetivo principal: bajar de peso / ganar musculo / mantener / recomposicion\n2. Genero (para calculos metabolicos): masculino / femenino\n3. Edad (anos)\n4. Altura (cm)\n5. Peso actual (kg)\n6. Nivel de actividad: sedentario / poco activo / moderadamente activo / muy activo / extremadamente activo\n7. Nivel de fitness: principiante / intermedio / avanzado\n8. Restricciones dieteticas (vegetariano, vegano, sin gluten, etc.) o 'ninguna'\n9. Alergias alimentarias o 'ninguna'\n10. Alimentos que no le gustan o 'ninguno'\n11. Lesiones o condiciones fisicas a considerar o 'ninguna'\n12. Equipamiento disponible para ejercicio o 'ninguno / solo casa'\n13. Dias de entrenamiento por semana (1-7)\n14. Numero de comidas al dia preferidas (2-6)\n15. Horario de comidas (desayuno/comida/cena aproximados)\n16. Cultura gastronomica (mexicana, colombiana, espanola, etc.)\n17. Presupuesto para ingredientes: economico / moderado / sin restriccion\n\nCuando tengas TODOS los datos, responde con este JSON exacto al final:\n[PERFIL_COMPLETO]\n{\"objetivo\": \"...\", \"genero\": \"male|female\", \"edad\": 0, \"altura_cm\": 0, \"peso_kg\": 0, \"actividad\": \"sedentary|lightly_active|moderately_active|very_active|extra_active\", \"fitness\": \"beginner|intermediate|advanced\", \"restricciones\": [], \"alergias\": [], \"disgustos\": [], \"lesiones\": [], \"equipamiento\": [], \"dias_entrenamiento\": 0, \"comidas_dia\": 0, \"cultura\": \"...\", \"presupuesto\": \"low|medium|high\"}\n[/PERFIL_COMPLETO]\n\nREGLAS:\n- Responde en espanol\n- Se amigable y motivador\n- Si el usuario responde algo ambiguo, pide clarificacion\n- Confirma cada dato antes de avanzar al siguiente\n- Al final presenta un resumen del perfil para confirmacion"
          }
        },
        "id": "11111111-0015-4000-8000-000000000015",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "name": "Onboarding Agent",
        "position": [
          2528,
          592
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {
            "temperature": 0.5
          }
        },
        "id": "11111111-0016-4000-8000-000000000016",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "name": "OpenAI Chat Model Onboarding",
        "position": [
          2448,
          800
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=onboarding_{{ $('Telegram Trigger').item.json.message.chat.id }}",
          "contextWindowLength": 20
        },
        "id": "11111111-0017-4000-8000-000000000017",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "name": "Onboarding Memory",
        "position": [
          2624,
          800
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Set Text from Message').item.json.chatId }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "11111111-0018-4000-8000-000000000018",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "name": "Send Response",
        "position": [
          3424,
          288
        ],
        "webhookId": "a599e63d-7899-46a8-944b-e9d2d9c289f9",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "name": "Progreso",
          "description": "Calcula el progreso de peso y métricas del usuario. Úsala cuando el usuario pregunte por su progreso, evolución de peso, o estadísticas.",
          "workflowId": {
            "__rl": true,
            "value": "bhJ8qqZXr68Id3pH",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "chatId",
                "type": "numberValue",
                "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          }
        },
        "id": "tool-w1-progress",
        "name": "Tool: Progreso",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          2992,
          288
        ]
      },
      {
        "parameters": {
          "name": "Plan_Comidas",
          "description": "Genera un plan de alimentación personalizado. Úsala cuando el usuario pida un plan de comidas, dieta, o quiera cambiar su nutrición.",
          "workflowId": {
            "__rl": true,
            "value": "KQhP9lQNxCKeOsbJ",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "chatId",
                "type": "numberValue",
                "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          }
        },
        "id": "tool-w2-meal",
        "name": "Tool: Plan Comidas",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          2672,
          288
        ]
      },
      {
        "parameters": {
          "name": "Rutina",
          "description": "Genera una rutina de ejercicios personalizada. Úsala cuando el usuario pida una rutina de entrenamiento, ejercicios, o gym.",
          "workflowId": {
            "__rl": true,
            "value": "ETjiYAUhXfsVSyWQ",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "chatId",
                "type": "numberValue",
                "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          }
        },
        "id": "tool-w3-workout",
        "name": "Tool: Rutina",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          2832,
          288
        ]
      },
      {
        "parameters": {
          "name": "RegistrarEvento",
          "description": "Registra eventos del usuario en su memoria personal RAG: peso registrado, comida reportada, cambios de perfil, metas establecidas. Usa esta herramienta CADA VEZ que el usuario reporte algo nuevo sobre su salud o progreso (peso actual, lo que comio, un nuevo objetivo).",
          "workflowId": {
            "__rl": true,
            "value": "vAqqjXg2IE1ldgg3",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "eventType",
                "stringValue": "={{ $fromAI('eventType', 'Tipo de evento: weight_log | meal_reported | profile_update | goal_set') }}"
              },
              {
                "name": "eventDataJson",
                "stringValue": "={{ $fromAI('eventData', 'JSON string con los datos del evento. Para weight_log: {\"weight_kg\": 80.5, \"notes\": \"opcional\"}. Para meal_reported: {\"meal_description\": \"desc\", \"calories\": 350, \"meal_type\": \"breakfast|lunch|dinner\"}. Para profile_update: {\"campo\": \"valor\"}. Para goal_set: {\"goal_type\": \"tipo\", \"target_weight_kg\": 75}') }}"
              }
            ]
          }
        },
        "id": "tool-w4-rag",
        "name": "Tool: Registrar Evento",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          2512,
          288
        ]
      },
      {
        "id": "vs-user-rag-tool-v2",
        "name": "Tool: Contexto Personal",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          3120,
          288
        ],
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Busca en la memoria personal del usuario: historial de peso, comidas reportadas, metas y eventos registrados. Úsala cuando el usuario mencione comidas, peso, o pregunte qué ha registrado.",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "user_rag"
          },
          "topK": 5,
          "options": {}
        },
        "credentials": {
          "qdrantApi": {
            "id": "ZgvYkNPmxRynoz3F",
            "name": "Qdrant account Fitia"
          }
        }
      },
      {
        "id": "embeddings-user-rag-v2",
        "name": "OpenAI Embeddings (RAG)",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          3120,
          460
        ],
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Route Message Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Message Type": {
        "main": [
          [
            {
              "node": "Set Text from Message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Voice File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Text from Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Voice File": {
        "main": [
          [
            {
              "node": "Transcribe Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Voice": {
        "main": [
          [
            {
              "node": "Set Text from Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Text from Voice": {
        "main": [
          [
            {
              "node": "Upsert User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Text from Message": {
        "main": [
          [
            {
              "node": "Upsert User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert User": {
        "main": [
          [
            {
              "node": "Check User & Membership",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check User & Membership": {
        "main": [
          [
            {
              "node": "Has Active Membership?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Active Membership?": {
        "main": [
          [
            {
              "node": "Onboarding Complete?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Membership Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Complete?": {
        "main": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Onboarding Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FitAI Main AI Agent": {
        "main": [
          [
            {
              "node": "Send Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Agent": {
        "main": [
          [
            {
              "node": "Send Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "FitAI Memory": {
        "ai_memory": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model Onboarding": {
        "ai_languageModel": [
          [
            {
              "node": "Onboarding Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Memory": {
        "ai_memory": [
          [
            {
              "node": "Onboarding Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Progreso": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Plan Comidas": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Rutina": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Registrar Evento": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Embeddings (RAG)": {
        "ai_embedding": [
          [
            {
              "node": "Tool: Contexto Personal",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Contexto Personal": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T18:20:08.900Z",
        "id": 158,
        "workflowId": "fI5u4rs3iXPfeXFl",
        "versionId": "496f8f74-aa29-48fb-884d-24d79dccb1dd",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}