n8n/workflows/01-telegram-webhook-handler.json
{
  "updatedAt": "2026-03-31T14:52:02.603Z",
  "createdAt": "2026-03-27T19:56:57.516Z",
  "id": "fI5u4rs3iXPfeXFl",
  "name": "FitAI - Telegram Webhook Handler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "11111111-0001-4000-8000-000000000001",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "name": "Telegram Trigger",
      "position": [
        -560,
        368
      ],
      "webhookId": "63001b72-4471-4896-b3b3-8ec56a0d9da6",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "id": "64681b88-b0b0-4cc1-b341-9f85c715d1c6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "id": "accc9229-5020-4c01-9b80-1c137bb6189b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "id": "8b3e071a-17fa-47fb-952d-211894958596"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.message.contact.phone_number }}",
                    "rightValue": "",
                    "id": "e2d15420-ab30-44b7-891b-633a7e4dad62"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "contact"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "11111111-0002-4000-8000-000000000002",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "name": "Route Message Type",
      "position": [
        -112,
        336
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "11111111-0003-4000-8000-000000000003",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "name": "Get Voice File",
      "position": [
        192,
        496
      ],
      "webhookId": "5debfbcc-0498-4e8f-a50a-4b70b1694912",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "11111111-0004-4000-8000-000000000004",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "name": "Transcribe Voice",
      "position": [
        496,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "v1",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "v2",
              "name": "chatId",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            },
            {
              "id": "v3",
              "name": "telegramId",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            {
              "id": "v4",
              "name": "firstName",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-0005-4000-8000-000000000005",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "name": "Set Text from Voice",
      "position": [
        800,
        496
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  u.id as user_id,\n  u.first_name,\n  u.is_active,\n  COALESCE(m.status::text, 'none') as membership_status,\n  CASE WHEN COALESCE(up.onboarding_completed, false) THEN 'true' ELSE 'false' END as onboarding_completed,\n  CASE\n    WHEN up.user_id IS NOT NULL\n     AND NOT COALESCE(up.onboarding_completed, false)\n     AND (u.phone_number IS NULL OR u.phone_number = '')\n    THEN 'true' ELSE 'false'\n  END as phone_pending\nFROM users u\nLEFT JOIN memberships m ON m.user_id = u.id AND m.status = 'active' AND m.expires_at > NOW()\nLEFT JOIN user_profiles up ON up.user_id = u.id\nWHERE u.telegram_id = $1\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id }}"
        }
      },
      "id": "11111111-0007-4000-8000-000000000007",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "name": "Check User & Membership",
      "position": [
        1568,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO users (telegram_id, first_name, last_name, username, language_code)\nVALUES ($1, $2, $3, $4, $5)\nON CONFLICT (telegram_id) DO UPDATE SET\n  first_name   = CASE\n                   WHEN LENGTH(TRIM(users.first_name)) <= 1 THEN EXCLUDED.first_name\n                   ELSE users.first_name\n                 END,\n  last_name    = COALESCE(EXCLUDED.last_name, users.last_name),\n  username     = COALESCE(EXCLUDED.username, users.username),\n  updated_at   = NOW()\nRETURNING id, telegram_id, first_name",
        "options": {
          "queryReplacement": "={{ [String($('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id), String($('Telegram Trigger').item.json.message?.from?.first_name || $('Telegram Trigger').item.json.callback_query?.from?.first_name || ''), ($('Telegram Trigger').item.json.message?.from?.last_name || null), ($('Telegram Trigger').item.json.message?.from?.username || null), ($('Telegram Trigger').item.json.message?.from?.language_code || 'es')] }}"
        }
      },
      "id": "11111111-0008-4000-8000-000000000008",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "name": "Upsert User",
      "position": [
        1280,
        512
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "m1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.membership_status }}",
              "rightValue": "active"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "11111111-0009-4000-8000-000000000009",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "name": "Has Active Membership?",
      "position": [
        1936,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Context').item.json.chatId }}",
        "text": "=Hola {{ $('Set User Context').item.json.firstName }}! No tienes una membresia activa. Para acceder al asistente FitAI contacta al administrador.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "11111111-0010-4000-8000-000000000010",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "name": "No Membership Message",
      "position": [
        2192,
        560
      ],
      "webhookId": "20379d01-666f-4ea3-834a-e62dc6c5ff5a",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "o1",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.onboarding_completed }}",
              "rightValue": "true"
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "11111111-0011-4000-8000-000000000011",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "name": "Onboarding Complete?",
      "position": [
        2208,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set User Context').item.json.message.text }}",
        "options": {
          "systemMessage": "=Eres FitAI, un asistente personal de nutricion y fitness que opera por Telegram.\n\nUSUARIO:\n- Nombre: {{ $('Check User & Membership').item.json.first_name }}\n- ID: {{ $('Check User & Membership').item.json.user_id }}\n- Chat ID: {{ $('Telegram Trigger').item.json.message?.chat?.id || $('Telegram Trigger').item.json.callback_query?.message?.chat?.id }}\n- userId para herramientas: {{ $('Check User & Membership').item.json.user_id }}\n- Fecha actual: {{ $now.format('dd/MM/yyyy') }}\n\nROL:\nAyudas al usuario a mejorar su alimentacion, ejercicio y habitos de salud. Eres empatico, motivador y practico.\n\nHERRAMIENTAS DISPONIBLES:\n- Progreso: calcula metricas y progreso del usuario\n- PlanComidas: genera un nuevo plan de alimentacion semanal\n- Rutina: genera una nueva rutina de ejercicio\n- RegistrarEvento: guarda eventos del usuario en memoria personal (peso, comidas, perfil, metas)\n\nCUANDO USAR RegistrarEvento:\n- El usuario reporta su peso actual (ej: \"hoy peso 80 kg\") → eventType: weight_log\n- El usuario dice lo que comio (ej: \"desayune avena\") → eventType: meal_reported\n- El usuario actualiza un dato de perfil (ej: \"cambie mi objetivo a 75 kg\") → eventType: profile_update\n- El usuario establece una meta nueva → eventType: goal_set\nSiempre registra ANTES de responder al usuario.\n\nREGLAS:\n- Responde SIEMPRE en espanol\n- Mantén respuestas cortas (Telegram: max 3 parrafos)\n- Usa emojis con moderacion\n- Si el usuario reporta una comida, ayudalo a registrarla y compararla con su plan\n- Si pide su plan de comidas o ejercicio, consulta la base de datos\n- Si necesita un nuevo plan, ofrece generarlo\n- Tono: amigable, como un coach personal cercano\n- NUNCA hagas diagnosticos medicos\n- Si hay una crisis de salud, deriva a profesionales\n\nFORMATO DE SALIDA:\nSolo el mensaje para el usuario, sin metadatos ni explicaciones."
        }
      },
      "id": "11111111-0012-4000-8000-000000000012",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "name": "FitAI Main AI Agent",
      "position": [
        2656,
        0
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0.7
        }
      },
      "id": "11111111-0013-4000-8000-000000000013",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "name": "OpenAI Chat Model",
      "position": [
        2512,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "11111111-0014-4000-8000-000000000014",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "name": "FitAI Memory",
      "position": [
        2656,
        144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set User Context').item.json.message.text }}",
        "options": {
          "systemMessage": "=Eres FitAI y estas completando el perfil de salud de {{ $('Check User & Membership').item.json.first_name }}.\n\nCONTEXTO: El usuario necesita completar su perfil antes de acceder al asistente completo. Recopila la informacion de forma conversacional, un dato a la vez.\n\n{{ $('Load Onboarding Progress').item.json.last_step > 0 ? '⚠️ RETOMANDO SESION PREVIA: El usuario ya respondio ' + $('Load Onboarding Progress').item.json.last_step + ' de 20 preguntas. Revisa el historial de esta conversacion y continua desde la siguiente pregunta pendiente. NO repitas preguntas ya respondidas.' : 'Empieza desde la pregunta 1.' }}\n\nINFORMACION A RECOPILAR (en este orden):\n1. Objetivo principal: bajar de peso / ganar musculo / mantener / recomposicion\n2. Genero (para calculos metabolicos): masculino / femenino\n3. Edad (anos)\n4. Altura (cm)\n5. Peso actual (kg)\n6. Nivel de actividad: sedentario / poco activo / moderadamente activo / muy activo / extremadamente activo\n7. Nivel de fitness: principiante / intermedio / avanzado\n8. Restricciones dieteticas (vegetariano, vegano, sin gluten, etc.) o 'ninguna'\n9. Alergias alimentarias o 'ninguna'\n10. Alimentos que no le gustan o 'ninguno'\n11. Lesiones o condiciones fisicas a considerar o 'ninguna'\n12. Equipamiento disponible para ejercicio o 'ninguno / solo casa'\n13. Dias de entrenamiento por semana (1-7)\n14. Numero de comidas al dia preferidas (2-6)\n15. Horario de comidas (desayuno/comida/cena aproximados)\n16. Cultura gastronomica (mexicana, colombiana, espanola, etc.)\n17. Presupuesto para ingredientes: economico / moderado / sin restriccion\n18. Pais de residencia (ej: Colombia, Mexico, Espana)\n19. Ciudad de residencia\n20. Numero de documento de identidad (cedula, DNI, pasaporte) — opcional, puedes indicar 'prefiero no dar'\n\nFLUJO DE CIERRE (MUY IMPORTANTE — sigue este orden exacto):\nPASO 1: Cuando tengas los 20 datos, presenta un resumen y pregunta \"¿Todo correcto o deseas cambiar algo?\"\nPASO 2: Si el usuario confirma que esta correcto (dice si, correcto, listo, ok, etc.):\n  - Escribe tu mensaje de bienvenida al asistente\n  - INMEDIATAMENTE despues, en el MISMO mensaje, agrega el bloque [PERFIL_COMPLETO] con todos los datos\n  - Este es el unico momento en que debes incluir el bloque\n\nEl bloque debe tener este formato exacto:\n[PERFIL_COMPLETO]\n{\"objetivo\": \"...\", \"genero\": \"male|female\", \"edad\": 0, \"altura_cm\": 0, \"peso_kg\": 0, \"actividad\": \"sedentary|lightly_active|moderately_active|very_active|extra_active\", \"fitness\": \"beginner|intermediate|advanced\", \"restricciones\": [], \"alergias\": [], \"disgustos\": [], \"lesiones\": [], \"equipamiento\": [], \"dias_entrenamiento\": 0, \"comidas_dia\": 0, \"cultura\": \"...\", \"presupuesto\": \"low|medium|high\", \"pais\": \"...\", \"ciudad\": \"...\", \"documento\": \"...\"}\n[/PERFIL_COMPLETO]\n\nREGLAS:\n- Responde en espanol\n- Se amigable y motivador\n- Si el usuario responde algo ambiguo, pide clarificacion\n- NO incluyas el bloque [PERFIL_COMPLETO] en el resumen ni en ningun mensaje previo a la confirmacion\n- El bloque [PERFIL_COMPLETO] nunca es visible para el usuario — es una senal interna del sistema"
        }
      },
      "id": "11111111-0015-4000-8000-000000000015",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "name": "Onboarding Agent",
      "position": [
        2720,
        720
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.5
        }
      },
      "id": "11111111-0016-4000-8000-000000000016",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "name": "OpenAI Chat Model Onboarding",
      "position": [
        2576,
        928
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=onboarding_{{ $('Telegram Trigger').item.json.message.chat.id }}",
        "tableName": "n8n_onboarding_memory",
        "contextWindowLength": 30
      },
      "id": "11111111-0017-4000-8000-000000000017",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.1,
      "name": "Onboarding Memory",
      "position": [
        2816,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Context').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "11111111-0018-4000-8000-000000000018",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "name": "Send Response",
      "position": [
        3696,
        16
      ],
      "webhookId": "a599e63d-7899-46a8-944b-e9d2d9c289f9",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "name": "Progreso",
        "description": "Calcula el progreso de peso y métricas del usuario. Úsala cuando el usuario pregunte por su progreso, evolución de peso, o estadísticas.",
        "workflowId": {
          "__rl": true,
          "value": "bhJ8qqZXr68Id3pH",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "chatId",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "tool-w1-progress",
      "name": "Tool: Progreso",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        3200,
        288
      ]
    },
    {
      "parameters": {
        "name": "Plan_Comidas",
        "description": "Genera un plan de alimentación personalizado. Úsala cuando el usuario pida un plan de comidas, dieta, o quiera cambiar su nutrición.",
        "workflowId": {
          "__rl": true,
          "value": "KQhP9lQNxCKeOsbJ",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "chatId",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "tool-w2-meal",
      "name": "Tool: Plan Comidas",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2880,
        288
      ]
    },
    {
      "parameters": {
        "name": "Rutina",
        "description": "Genera una rutina de ejercicios personalizada. Úsala cuando el usuario pida una rutina de entrenamiento, ejercicios, o gym.",
        "workflowId": {
          "__rl": true,
          "value": "ETjiYAUhXfsVSyWQ",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "chatId",
              "type": "numberValue",
              "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        }
      },
      "id": "tool-w3-workout",
      "name": "Tool: Rutina",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        3040,
        288
      ]
    },
    {
      "parameters": {
        "name": "RegistrarEvento",
        "description": "Registra eventos del usuario en su memoria personal RAG: peso registrado, comida reportada, cambios de perfil, metas establecidas. Usa esta herramienta CADA VEZ que el usuario reporte algo nuevo sobre su salud o progreso (peso actual, lo que comio, un nuevo objetivo).",
        "workflowId": {
          "__rl": true,
          "value": "vAqqjXg2IE1ldgg3",
          "mode": "id"
        },
        "fields": {
          "values": [
            {
              "name": "userId",
              "type": "numberValue",
              "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
            },
            {
              "name": "eventType",
              "stringValue": "={{ $fromAI('eventType', 'Tipo de evento: weight_log | meal_reported | profile_update | goal_set') }}"
            },
            {
              "name": "eventDataJson",
              "stringValue": "={{ $fromAI('eventData', 'JSON string con los datos del evento. Para weight_log: {\"weight_kg\": 80.5, \"notes\": \"opcional\"}. Para meal_reported: {\"meal_description\": \"desc\", \"calories\": 350, \"meal_type\": \"breakfast|lunch|dinner\"}. Para profile_update: {\"campo\": \"valor\"}. Para goal_set: {\"goal_type\": \"tipo\", \"target_weight_kg\": 75}') }}"
            }
          ]
        }
      },
      "id": "tool-w4-rag",
      "name": "Tool: Registrar Evento",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.3,
      "position": [
        2720,
        288
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en la memoria personal del usuario: historial de peso, comidas reportadas, metas y eventos registrados. Úsala cuando el usuario mencione comidas, peso, o pregunte qué ha registrado.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "user_rag"
        },
        "topK": 5,
        "options": {}
      },
      "id": "vs-user-rag-tool-v2",
      "name": "Tool: Contexto Personal",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        3328,
        288
      ],
      "credentials": {
        "qdrantApi": {
          "id": "ZgvYkNPmxRynoz3F",
          "name": "Qdrant account Fitia"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "embeddings-user-rag-v2",
      "name": "OpenAI Embeddings (RAG)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        3328,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "NOJoPVNWDXiywRgw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cp1",
              "name": "phone_number",
              "type": "string",
              "value": "={{ $json.message.contact.phone_number }}"
            },
            {
              "id": "cp2",
              "name": "telegram_id",
              "type": "string",
              "value": "={{ $json.message.contact.user_id }}"
            },
            {
              "id": "cp3",
              "name": "chatId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "contact-set-001",
      "name": "Set Phone Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET phone_number = $1, updated_at = NOW() WHERE telegram_id = $2",
        "options": {
          "queryReplacement": "={{ [$json.phone_number, String($json.telegram_id)] }}"
        }
      },
      "id": "contact-pg-001",
      "name": "Save Phone Number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        864
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set Phone Data').item.json.chatId }}",
        "text": "✅ ¡Perfecto! Tu número ha sido guardado. Ya tienes todo configurado.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "contact-ack-001",
      "name": "Phone ACK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        864
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "webhookId": "7cdd84ef-4e51-42fe-94f1-9681163a8a62",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst output = $input.first().json.output || '';\n\nconst START = '[PERFIL_COMPLETO]';\nconst END   = '[/PERFIL_COMPLETO]';\nconst s = output.indexOf(START);\nconst e = output.indexOf(END);\n\nlet cleanText = output.trim();\nlet hasProfile = false;\nlet profile = null;\n\nif (s !== -1 && e !== -1) {\n  cleanText = output.substring(0, s).trim();\n  const jsonStr = output.substring(s + START.length, e).trim();\n  try {\n    const raw = JSON.parse(jsonStr);\n    hasProfile = true;\n\n    const actMap = {\n      'sedentario':'sedentary','sedentary':'sedentary',\n      'poco activo':'lightly_active','lightly_active':'lightly_active',\n      'moderadamente activo':'moderately_active','moderately_active':'moderately_active',\n      'muy activo':'very_active','very_active':'very_active',\n      'extremadamente activo':'extra_active','extra_active':'extra_active'\n    };\n    const goalMap = {\n      'bajar de peso':'lose_weight','perder peso':'lose_weight','lose_weight':'lose_weight',\n      'ganar musculo':'gain_muscle','gain_muscle':'gain_muscle',\n      'mantener':'maintain','maintain':'maintain',\n      'recomposicion':'recomposition','recomposition':'recomposition'\n    };\n    const genderMap = {'masculino':'male','male':'male','femenino':'female','female':'female'};\n    const budgetMap = {\n      'economico':'low','low':'low',\n      'moderado':'medium','medium':'medium',\n      'sin restriccion':'high','alto':'high','high':'high'\n    };\n    const fitnessMap = {\n      'principiante':'beginner','beginner':'beginner',\n      'intermedio':'intermediate','intermediate':'intermediate',\n      'avanzado':'advanced','advanced':'advanced'\n    };\n\n    const toArr = (v) => {\n      if (!v || v === 'ninguna' || v === 'ninguno') return '[]';\n      if (Array.isArray(v)) {\n        const filtered = v.filter(x => x && x !== 'ninguna' && x !== 'ninguno');\n        return JSON.stringify(filtered);\n      }\n      return JSON.stringify([v]);\n    };\n\n    profile = {\n      gender:   genderMap[(raw.genero||'').toLowerCase()] || 'male',\n      age:      parseInt(raw.edad) || 25,\n      height_cm: parseFloat(raw.altura_cm) || 170,\n      weight_kg: parseFloat(raw.peso_kg) || 70,\n      activity_level: actMap[(raw.actividad||'').toLowerCase()] || 'moderately_active',\n      fitness_level:  fitnessMap[(raw.fitness||'').toLowerCase()] || 'beginner',\n      goal: goalMap[(raw.objetivo||'').toLowerCase()] || 'lose_weight',\n      dietary_restrictions: toArr(raw.restricciones),\n      food_allergies:  toArr(raw.alergias),\n      disliked_foods:  toArr(raw.disgustos),\n      injuries:        toArr(raw.lesiones),\n      available_equipment: toArr(raw.equipamiento),\n      training_days_per_week: parseInt(raw.dias_entrenamiento) || 3,\n      meal_count: parseInt(raw.comidas_dia) || 3,\n      local_culture: raw.cultura || 'colombiana',\n      budget_level: budgetMap[(raw.presupuesto||'').toLowerCase()] || 'medium',\n      country:  raw.pais  || null,\n      city:     raw.ciudad || null,\n      document_number: (raw.documento && raw.documento !== 'prefiero no dar') ? raw.documento : null\n    };\n\n    // Construir resumen legible del perfil para mostrar al usuario\n    const goalLabels = { lose_weight:'Bajar de peso', gain_muscle:'Ganar músculo', maintain:'Mantener peso', recomposition:'Recomposición' };\n    const actLabels  = { sedentary:'Sedentario', lightly_active:'Poco activo', moderately_active:'Moderadamente activo', very_active:'Muy activo', extra_active:'Extremadamente activo' };\n    const fitLabels  = { beginner:'Principiante', intermediate:'Intermedio', advanced:'Avanzado' };\n\n    const restrictions = JSON.parse(profile.dietary_restrictions);\n    const restrictStr  = restrictions.length > 0 ? restrictions.join(', ') : 'Ninguna';\n\n    const profileSummary = [\n      '',\n      `🎯 *Objetivo:* ${goalLabels[profile.goal] || profile.goal}`,\n      `⚖️ *Peso:* ${profile.weight_kg} kg | *Altura:* ${profile.height_cm} cm`,\n      `🏃 *Actividad:* ${actLabels[profile.activity_level] || profile.activity_level}`,\n      `💪 *Nivel fitness:* ${fitLabels[profile.fitness_level] || profile.fitness_level}`,\n      `🍽️ *Comidas/día:* ${profile.meal_count} | *Días entreno/sem:* ${profile.training_days_per_week}`,\n      `🚫 *Restricciones:* ${restrictStr}`,\n    ].join('\\n');\n\n    cleanText = (cleanText || '¡Perfil completado! Aquí tienes tu resumen:') + profileSummary;\n\n  } catch(e) {\n    hasProfile = false;\n  }\n}\n\nconst userId = $('Check User & Membership').item.json.user_id;\nconst chatId = $('Set User Context').item.json.chatId;\n\nreturn [{ json: { cleanText, hasProfile, profile, userId, chatId } }];\n"
      },
      "id": "profile-parse-001",
      "name": "Parse Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "pc1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.hasProfile }}",
              "rightValue": ""
            }
          ]
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "profile-if-001",
      "name": "Has PERFIL_COMPLETO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3248,
        720
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_profiles (user_id, gender, age, height_cm, weight_kg, activity_level, fitness_level, goal, dietary_restrictions, food_allergies, disliked_foods, injuries, available_equipment, training_days_per_week, meal_count, local_culture, budget_level, onboarding_completed) VALUES ($1, $2::gender_type, $3, $4, $5, $6::activity_level, $7::fitness_level, $8::goal_type, ARRAY(SELECT jsonb_array_elements_text($9::jsonb)), ARRAY(SELECT jsonb_array_elements_text($10::jsonb)), ARRAY(SELECT jsonb_array_elements_text($11::jsonb)), ARRAY(SELECT jsonb_array_elements_text($12::jsonb)), ARRAY(SELECT jsonb_array_elements_text($13::jsonb)), $14, $15, $16, $17::budget_level, false) ON CONFLICT (user_id) DO UPDATE SET gender = EXCLUDED.gender, age = EXCLUDED.age, height_cm = EXCLUDED.height_cm, weight_kg = EXCLUDED.weight_kg, activity_level = EXCLUDED.activity_level, fitness_level = EXCLUDED.fitness_level, goal = EXCLUDED.goal, dietary_restrictions = EXCLUDED.dietary_restrictions, food_allergies = EXCLUDED.food_allergies, disliked_foods = EXCLUDED.disliked_foods, injuries = EXCLUDED.injuries, available_equipment = EXCLUDED.available_equipment, training_days_per_week = EXCLUDED.training_days_per_week, meal_count = EXCLUDED.meal_count, local_culture = EXCLUDED.local_culture, budget_level = EXCLUDED.budget_level, updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$('Parse Profile').item.json.userId, $('Parse Profile').item.json.profile.gender, $('Parse Profile').item.json.profile.age, $('Parse Profile').item.json.profile.height_cm, $('Parse Profile').item.json.profile.weight_kg, $('Parse Profile').item.json.profile.activity_level, $('Parse Profile').item.json.profile.fitness_level, $('Parse Profile').item.json.profile.goal, $('Parse Profile').item.json.profile.dietary_restrictions, $('Parse Profile').item.json.profile.food_allergies, $('Parse Profile').item.json.profile.disliked_foods, $('Parse Profile').item.json.profile.injuries, $('Parse Profile').item.json.profile.available_equipment, $('Parse Profile').item.json.profile.training_days_per_week, $('Parse Profile').item.json.profile.meal_count, $('Parse Profile').item.json.profile.local_culture, $('Parse Profile').item.json.profile.budget_level] }}"
        }
      },
      "id": "profile-save-001",
      "name": "Save User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3856,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET country = $1, city = $2, document_number = $3, updated_at = NOW() WHERE id = $4",
        "options": {
          "queryReplacement": "={{ [$('Parse Profile').item.json.profile.country, $('Parse Profile').item.json.profile.city, $('Parse Profile').item.json.profile.document_number, $('Parse Profile').item.json.userId] }}"
        }
      },
      "id": "profile-user-001",
      "name": "Update User Contact Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4080,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Profile').item.json.chatId }}",
        "text": "={{ $('Parse Profile').item.json.cleanText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "profile-msg-001",
      "name": "Send Profile Done",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4512,
        704
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "webhookId": "474cd4c6-78e0-4c8f-9cf8-4b08b99ea277",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8614996928:AAFNVI6I_2bbRjdoRuAGhL0zQiiEHVWZA9c/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Parse Profile').item.json.chatId }}"
            },
            {
              "name": "text",
              "value": "📱 Para finalizar tu registro, necesito tu número de teléfono.\n\nPresiona el botón para compartirlo de forma segura."
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ keyboard: [[{ text: '📱 Compartir mi número', request_contact: true }]], resize_keyboard: true, one_time_keyboard: true }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "phone-req-001",
      "name": "Request Phone Number",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4736,
        704
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, true::boolean AS migration_match\nFROM users\nWHERE migration_token = UPPER(TRIM($1))\n  AND migration_token_expires_at > NOW()\nUNION ALL\nSELECT NULL::integer, NULL::text, false::boolean\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $json.message.text }}"
        }
      },
      "id": "migration-check-001",
      "name": "Check Migration Token",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        624,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "mt1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.migration_match }}",
              "rightValue": ""
            }
          ]
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "migration-if-001",
      "name": "Is Migration Token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1056,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET telegram_id = $1,     migration_token = NULL,     migration_token_expires_at = NULL,     updated_at = NOW() WHERE id = $2 RETURNING first_name",
        "options": {
          "queryReplacement": "={{ [String($('Set User Context').item.json.telegramId), $('Check Migration Token').item.json.id] }}"
        }
      },
      "id": "migration-apply-001",
      "name": "Apply Migration",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        96
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Context').item.json.chatId }}",
        "text": "=✅ *¡Migración completada!*\n\nTu cuenta de FitAI ha sido vinculada a este Telegram. Todo tu historial, perfil y membresía están disponibles. Escríbeme cuando quieras continuar.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "migration-ack-001",
      "name": "Send Migration Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1552,
        96
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "webhookId": "45051bd1-897d-4013-add3-b39931d7cc6e",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Always produce output regardless of whether the token matched.\n// Check Migration Token returns [] when no match — this would stop the flow.\nconst rows = $input.all();\nconst match = rows.length > 0 && rows[0].json && rows[0].json.id;\nif (match) {\n  return [{ json: { ...rows[0].json, migration_match: true } }];\n}\nreturn [{ json: { id: null, migration_match: false } }];"
      },
      "id": "normalize-token-001",
      "name": "Normalize Token Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT answers, last_step FROM onboarding_progress WHERE user_id = $1\nUNION ALL\nSELECT '{}'::jsonb, 0\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $('Check User & Membership').item.json.user_id }}"
        }
      },
      "id": "11111111-0030-4000-8000-000000000030",
      "name": "Load Onboarding Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2512,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO onboarding_progress (user_id, answers, last_step, updated_at)\nVALUES ($1, $2::jsonb, $3, NOW())\nON CONFLICT (user_id) DO UPDATE SET\n  answers    = EXCLUDED.answers,\n  last_step  = EXCLUDED.last_step,\n  updated_at = NOW()",
        "options": {
          "queryReplacement": "={{ [$('Check User & Membership').item.json.user_id, JSON.stringify($('Parse Profile').item.json.profile || {}), $('Parse Profile').item.json.hasProfile ? 20 : 10] }}"
        }
      },
      "id": "11111111-0031-4000-8000-000000000031",
      "name": "Save Onboarding Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3600,
        976
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM onboarding_progress WHERE user_id = $1",
        "options": {
          "queryReplacement": "={{ $('Check User & Membership').item.json.user_id }}"
        }
      },
      "id": "11111111-0032-4000-8000-000000000032",
      "name": "Clear Onboarding Progress",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3600,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Set User Context').item.json.chatId }}",
        "text": "={{ $('Parse Profile').item.json.cleanText }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "11111111-0050-4000-8000-000000000050",
      "name": "Send Onboarding Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3856,
        976
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "webhookId": "019329a3-2079-4fe5-a9cc-06ae057a7f48",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_profiles SET updated_at = NOW() WHERE user_id = $1",
        "options": {
          "queryReplacement": "={{ [$('Parse Profile').item.json.userId] }}"
        }
      },
      "id": "11111111-0060-4000-8000-000000000060",
      "name": "Mark Onboarding Complete",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4304,
        704
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CCkMv75zwDDoj513",
          "mode": "list",
          "cachedResultUrl": "/workflow/CCkMv75zwDDoj513",
          "cachedResultName": "FitAI - Process text message"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "callback_query": "={{ $('Telegram Trigger').item.json.callback_query }}",
            "message": "={{ $('Telegram Trigger').item.json.message }}",
            "": "={{ $('Telegram Trigger').item.json }}"
          },
          "matchingColumns": [
            "callback_query",
            "message",
            ""
          ],
          "schema": [
            {
              "id": "callback_query",
              "displayName": "callback_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "",
              "displayName": "",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        192,
        112
      ],
      "name": "Call process text message",
      "id": "bb616577-3076-40d8-8cd0-f6bdee27e9a9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "uc1",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.message?.text }}"
            },
            {
              "id": "uc2",
              "name": "chatId",
              "type": "string",
              "value": "={{ $json.chatId }}"
            },
            {
              "id": "uc3",
              "name": "telegramId",
              "type": "string",
              "value": "={{ $json.telegramId }}"
            },
            {
              "id": "uc4",
              "name": "firstName",
              "type": "string",
              "value": "={{ $json.firstName }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-user-ctx-001",
      "name": "Set User Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        112
      ]
    },
    {
      "id": "phone-pending-if-001",
      "name": "Phone Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        -200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-phone-pending",
              "leftValue": "={{ $('Check User & Membership').item.json.phone_pending }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "phone-reminder-001",
      "name": "Send Phone Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8614996928:AAFNVI6I_2bbRjdoRuAGhL0zQiiEHVWZA9c/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Set User Context').item.json.chatId }}"
            },
            {
              "name": "text",
              "value": "📱 Aún necesito tu número de teléfono para completar tu registro.\n\nPresiona el botón de abajo para compartirlo."
            },
            {
              "name": "reply_markup",
              "value": "={{ JSON.stringify({ keyboard: [[{ text: '📱 Compartir mi número', request_contact: true }]], resize_keyboard: true, one_time_keyboard: true }) }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {}
    },
    {
      "id": "complete-onboarding-001",
      "name": "Complete Onboarding",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2800,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE user_profiles SET onboarding_completed = true, onboarding_completed_at = NOW(), updated_at = NOW() WHERE user_id = (SELECT id FROM users WHERE telegram_id = $1)",
        "options": {
          "queryReplacement": "={{ [String($('Set Phone Data').item.json.telegram_id)] }}"
        }
      },
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message Type": {
      "main": [
        [
          {
            "node": "Call process text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call process text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Phone Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice": {
      "main": [
        [
          {
            "node": "Set Text from Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text from Voice": {
      "main": [
        [
          {
            "node": "Set User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert User": {
      "main": [
        [
          {
            "node": "Check User & Membership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User & Membership": {
      "main": [
        [
          {
            "node": "Has Active Membership?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Active Membership?": {
      "main": [
        [
          {
            "node": "Onboarding Complete?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Membership Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Complete?": {
      "main": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Phone Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FitAI Main AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Agent": {
      "main": [
        [
          {
            "node": "Parse Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "FitAI Memory": {
      "ai_memory": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model Onboarding": {
      "ai_languageModel": [
        [
          {
            "node": "Onboarding Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Onboarding Memory": {
      "ai_memory": [
        [
          {
            "node": "Onboarding Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Progreso": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Plan Comidas": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Rutina": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Registrar Evento": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (RAG)": {
      "ai_embedding": [
        [
          {
            "node": "Tool: Contexto Personal",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Contexto Personal": {
      "ai_tool": [
        [
          {
            "node": "FitAI Main AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Phone Data": {
      "main": [
        [
          {
            "node": "Save Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Phone Number": {
      "main": [
        [
          {
            "node": "Complete Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone ACK": {
      "main": [
        []
      ]
    },
    "Parse Profile": {
      "main": [
        [
          {
            "node": "Has PERFIL_COMPLETO?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has PERFIL_COMPLETO?": {
      "main": [
        [
          {
            "node": "Clear Onboarding Progress",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Onboarding Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Profile": {
      "main": [
        [
          {
            "node": "Update User Contact Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Contact Data": {
      "main": [
        [
          {
            "node": "Mark Onboarding Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Profile Done": {
      "main": [
        [
          {
            "node": "Request Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Phone Number": {
      "main": [
        []
      ]
    },
    "Check Migration Token": {
      "main": [
        [
          {
            "node": "Normalize Token Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Migration Token?": {
      "main": [
        [
          {
            "node": "Apply Migration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply Migration": {
      "main": [
        [
          {
            "node": "Send Migration Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Migration Success": {
      "main": [
        []
      ]
    },
    "Normalize Token Result": {
      "main": [
        [
          {
            "node": "Is Migration Token?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Onboarding Progress": {
      "main": [
        [
          {
            "node": "Save User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Onboarding Progress": {
      "main": [
        [
          {
            "node": "Send Onboarding Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Onboarding Progress": {
      "main": [
        [
          {
            "node": "Onboarding Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Onboarding Complete": {
      "main": [
        [
          {
            "node": "Send Profile Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call process text message": {
      "main": [
        [
          {
            "node": "Set User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set User Context": {
      "main": [
        [
          {
            "node": "Check Migration Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Pending?": {
      "main": [
        [
          {
            "node": "Send Phone Reminder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Load Onboarding Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Onboarding": {
      "main": [
        [
          {
            "node": "Phone ACK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "global": {}
  },
  "meta": null,
  "pinData": {},
  "versionId": "9979cb49-cbc9-4abb-9679-014837d992ae",
  "activeVersionId": "9979cb49-cbc9-4abb-9679-014837d992ae",
  "versionCounter": 451,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T19:56:57.528Z",
      "createdAt": "2026-03-27T19:56:57.528Z",
      "role": "workflow:owner",
      "workflowId": "fI5u4rs3iXPfeXFl",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-31T14:52:02.605Z",
    "createdAt": "2026-03-31T14:52:02.605Z",
    "versionId": "9979cb49-cbc9-4abb-9679-014837d992ae",
    "workflowId": "fI5u4rs3iXPfeXFl",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message",
            "callback_query"
          ],
          "additionalFields": {}
        },
        "id": "11111111-0001-4000-8000-000000000001",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "name": "Telegram Trigger",
        "position": [
          -560,
          368
        ],
        "webhookId": "63001b72-4471-4896-b3b3-8ec56a0d9da6",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "",
                      "id": "64681b88-b0b0-4cc1-b341-9f85c715d1c6"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.voice.file_id }}",
                      "rightValue": "",
                      "id": "accc9229-5020-4c01-9b80-1c137bb6189b"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "voice"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.callback_query.data }}",
                      "rightValue": "",
                      "id": "8b3e071a-17fa-47fb-952d-211894958596"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "callback"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "operator": {
                        "type": "boolean",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "leftValue": "={{ $json.message.contact.phone_number }}",
                      "rightValue": "",
                      "id": "e2d15420-ab30-44b7-891b-633a7e4dad62"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "contact"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "id": "11111111-0002-4000-8000-000000000002",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "name": "Route Message Type",
        "position": [
          -112,
          336
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "fileId": "={{ $json.message.voice.file_id }}",
          "additionalFields": {}
        },
        "id": "11111111-0003-4000-8000-000000000003",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "name": "Get Voice File",
        "position": [
          192,
          496
        ],
        "webhookId": "5debfbcc-0498-4e8f-a50a-4b70b1694912",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "id": "11111111-0004-4000-8000-000000000004",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "name": "Transcribe Voice",
        "position": [
          496,
          496
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "v1",
                "name": "message.text",
                "type": "string",
                "value": "={{ $json.text }}"
              },
              {
                "id": "v2",
                "name": "chatId",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              },
              {
                "id": "v3",
                "name": "telegramId",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
              },
              {
                "id": "v4",
                "name": "firstName",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}"
              }
            ]
          },
          "options": {}
        },
        "id": "11111111-0005-4000-8000-000000000005",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "name": "Set Text from Voice",
        "position": [
          800,
          496
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n  u.id as user_id,\n  u.first_name,\n  u.is_active,\n  COALESCE(m.status::text, 'none') as membership_status,\n  CASE WHEN COALESCE(up.onboarding_completed, false) THEN 'true' ELSE 'false' END as onboarding_completed,\n  CASE\n    WHEN up.user_id IS NOT NULL\n     AND NOT COALESCE(up.onboarding_completed, false)\n     AND (u.phone_number IS NULL OR u.phone_number = '')\n    THEN 'true' ELSE 'false'\n  END as phone_pending\nFROM users u\nLEFT JOIN memberships m ON m.user_id = u.id AND m.status = 'active' AND m.expires_at > NOW()\nLEFT JOIN user_profiles up ON up.user_id = u.id\nWHERE u.telegram_id = $1\nLIMIT 1",
          "options": {
            "queryReplacement": "={{ $('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id }}"
          }
        },
        "id": "11111111-0007-4000-8000-000000000007",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "name": "Check User & Membership",
        "position": [
          1568,
          512
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO users (telegram_id, first_name, last_name, username, language_code)\nVALUES ($1, $2, $3, $4, $5)\nON CONFLICT (telegram_id) DO UPDATE SET\n  first_name   = CASE\n                   WHEN LENGTH(TRIM(users.first_name)) <= 1 THEN EXCLUDED.first_name\n                   ELSE users.first_name\n                 END,\n  last_name    = COALESCE(EXCLUDED.last_name, users.last_name),\n  username     = COALESCE(EXCLUDED.username, users.username),\n  updated_at   = NOW()\nRETURNING id, telegram_id, first_name",
          "options": {
            "queryReplacement": "={{ [String($('Telegram Trigger').item.json.message?.from?.id || $('Telegram Trigger').item.json.callback_query?.from?.id), String($('Telegram Trigger').item.json.message?.from?.first_name || $('Telegram Trigger').item.json.callback_query?.from?.first_name || ''), ($('Telegram Trigger').item.json.message?.from?.last_name || null), ($('Telegram Trigger').item.json.message?.from?.username || null), ($('Telegram Trigger').item.json.message?.from?.language_code || 'es')] }}"
          }
        },
        "id": "11111111-0008-4000-8000-000000000008",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "name": "Upsert User",
        "position": [
          1280,
          512
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 1
            },
            "conditions": [
              {
                "id": "m1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.membership_status }}",
                "rightValue": "active"
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "11111111-0009-4000-8000-000000000009",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "name": "Has Active Membership?",
        "position": [
          1936,
          400
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $('Set User Context').item.json.chatId }}",
          "text": "=Hola {{ $('Set User Context').item.json.firstName }}! No tienes una membresia activa. Para acceder al asistente FitAI contacta al administrador.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "11111111-0010-4000-8000-000000000010",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "name": "No Membership Message",
        "position": [
          2192,
          560
        ],
        "webhookId": "20379d01-666f-4ea3-834a-e62dc6c5ff5a",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "o1",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.onboarding_completed }}",
                "rightValue": "true"
              }
            ],
            "combinator": "and"
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "11111111-0011-4000-8000-000000000011",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "name": "Onboarding Complete?",
        "position": [
          2208,
          208
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Set User Context').item.json.message.text }}",
          "options": {
            "systemMessage": "=Eres FitAI, un asistente personal de nutricion y fitness que opera por Telegram.\n\nUSUARIO:\n- Nombre: {{ $('Check User & Membership').item.json.first_name }}\n- ID: {{ $('Check User & Membership').item.json.user_id }}\n- Chat ID: {{ $('Telegram Trigger').item.json.message?.chat?.id || $('Telegram Trigger').item.json.callback_query?.message?.chat?.id }}\n- userId para herramientas: {{ $('Check User & Membership').item.json.user_id }}\n- Fecha actual: {{ $now.format('dd/MM/yyyy') }}\n\nROL:\nAyudas al usuario a mejorar su alimentacion, ejercicio y habitos de salud. Eres empatico, motivador y practico.\n\nHERRAMIENTAS DISPONIBLES:\n- Progreso: calcula metricas y progreso del usuario\n- PlanComidas: genera un nuevo plan de alimentacion semanal\n- Rutina: genera una nueva rutina de ejercicio\n- RegistrarEvento: guarda eventos del usuario en memoria personal (peso, comidas, perfil, metas)\n\nCUANDO USAR RegistrarEvento:\n- El usuario reporta su peso actual (ej: \"hoy peso 80 kg\") → eventType: weight_log\n- El usuario dice lo que comio (ej: \"desayune avena\") → eventType: meal_reported\n- El usuario actualiza un dato de perfil (ej: \"cambie mi objetivo a 75 kg\") → eventType: profile_update\n- El usuario establece una meta nueva → eventType: goal_set\nSiempre registra ANTES de responder al usuario.\n\nREGLAS:\n- Responde SIEMPRE en espanol\n- Mantén respuestas cortas (Telegram: max 3 parrafos)\n- Usa emojis con moderacion\n- Si el usuario reporta una comida, ayudalo a registrarla y compararla con su plan\n- Si pide su plan de comidas o ejercicio, consulta la base de datos\n- Si necesita un nuevo plan, ofrece generarlo\n- Tono: amigable, como un coach personal cercano\n- NUNCA hagas diagnosticos medicos\n- Si hay una crisis de salud, deriva a profesionales\n\nFORMATO DE SALIDA:\nSolo el mensaje para el usuario, sin metadatos ni explicaciones."
          }
        },
        "id": "11111111-0012-4000-8000-000000000012",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "name": "FitAI Main AI Agent",
        "position": [
          2656,
          0
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o",
            "cachedResultName": "gpt-4o"
          },
          "options": {
            "maxTokens": 1024,
            "temperature": 0.7
          }
        },
        "id": "11111111-0013-4000-8000-000000000013",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "name": "OpenAI Chat Model",
        "position": [
          2512,
          144
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id || $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
          "contextWindowLength": 10
        },
        "id": "11111111-0014-4000-8000-000000000014",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "name": "FitAI Memory",
        "position": [
          2656,
          144
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Set User Context').item.json.message.text }}",
          "options": {
            "systemMessage": "=Eres FitAI y estas completando el perfil de salud de {{ $('Check User & Membership').item.json.first_name }}.\n\nCONTEXTO: El usuario necesita completar su perfil antes de acceder al asistente completo. Recopila la informacion de forma conversacional, un dato a la vez.\n\n{{ $('Load Onboarding Progress').item.json.last_step > 0 ? '⚠️ RETOMANDO SESION PREVIA: El usuario ya respondio ' + $('Load Onboarding Progress').item.json.last_step + ' de 20 preguntas. Revisa el historial de esta conversacion y continua desde la siguiente pregunta pendiente. NO repitas preguntas ya respondidas.' : 'Empieza desde la pregunta 1.' }}\n\nINFORMACION A RECOPILAR (en este orden):\n1. Objetivo principal: bajar de peso / ganar musculo / mantener / recomposicion\n2. Genero (para calculos metabolicos): masculino / femenino\n3. Edad (anos)\n4. Altura (cm)\n5. Peso actual (kg)\n6. Nivel de actividad: sedentario / poco activo / moderadamente activo / muy activo / extremadamente activo\n7. Nivel de fitness: principiante / intermedio / avanzado\n8. Restricciones dieteticas (vegetariano, vegano, sin gluten, etc.) o 'ninguna'\n9. Alergias alimentarias o 'ninguna'\n10. Alimentos que no le gustan o 'ninguno'\n11. Lesiones o condiciones fisicas a considerar o 'ninguna'\n12. Equipamiento disponible para ejercicio o 'ninguno / solo casa'\n13. Dias de entrenamiento por semana (1-7)\n14. Numero de comidas al dia preferidas (2-6)\n15. Horario de comidas (desayuno/comida/cena aproximados)\n16. Cultura gastronomica (mexicana, colombiana, espanola, etc.)\n17. Presupuesto para ingredientes: economico / moderado / sin restriccion\n18. Pais de residencia (ej: Colombia, Mexico, Espana)\n19. Ciudad de residencia\n20. Numero de documento de identidad (cedula, DNI, pasaporte) — opcional, puedes indicar 'prefiero no dar'\n\nFLUJO DE CIERRE (MUY IMPORTANTE — sigue este orden exacto):\nPASO 1: Cuando tengas los 20 datos, presenta un resumen y pregunta \"¿Todo correcto o deseas cambiar algo?\"\nPASO 2: Si el usuario confirma que esta correcto (dice si, correcto, listo, ok, etc.):\n  - Escribe tu mensaje de bienvenida al asistente\n  - INMEDIATAMENTE despues, en el MISMO mensaje, agrega el bloque [PERFIL_COMPLETO] con todos los datos\n  - Este es el unico momento en que debes incluir el bloque\n\nEl bloque debe tener este formato exacto:\n[PERFIL_COMPLETO]\n{\"objetivo\": \"...\", \"genero\": \"male|female\", \"edad\": 0, \"altura_cm\": 0, \"peso_kg\": 0, \"actividad\": \"sedentary|lightly_active|moderately_active|very_active|extra_active\", \"fitness\": \"beginner|intermediate|advanced\", \"restricciones\": [], \"alergias\": [], \"disgustos\": [], \"lesiones\": [], \"equipamiento\": [], \"dias_entrenamiento\": 0, \"comidas_dia\": 0, \"cultura\": \"...\", \"presupuesto\": \"low|medium|high\", \"pais\": \"...\", \"ciudad\": \"...\", \"documento\": \"...\"}\n[/PERFIL_COMPLETO]\n\nREGLAS:\n- Responde en espanol\n- Se amigable y motivador\n- Si el usuario responde algo ambiguo, pide clarificacion\n- NO incluyas el bloque [PERFIL_COMPLETO] en el resumen ni en ningun mensaje previo a la confirmacion\n- El bloque [PERFIL_COMPLETO] nunca es visible para el usuario — es una senal interna del sistema"
          }
        },
        "id": "11111111-0015-4000-8000-000000000015",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "name": "Onboarding Agent",
        "position": [
          2720,
          720
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {
            "temperature": 0.5
          }
        },
        "id": "11111111-0016-4000-8000-000000000016",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "name": "OpenAI Chat Model Onboarding",
        "position": [
          2576,
          928
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=onboarding_{{ $('Telegram Trigger').item.json.message.chat.id }}",
          "tableName": "n8n_onboarding_memory",
          "contextWindowLength": 30
        },
        "id": "11111111-0017-4000-8000-000000000017",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.1,
        "name": "Onboarding Memory",
        "position": [
          2816,
          928
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Set User Context').item.json.chatId }}",
          "text": "={{ $json.output }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "11111111-0018-4000-8000-000000000018",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "name": "Send Response",
        "position": [
          3696,
          16
        ],
        "webhookId": "a599e63d-7899-46a8-944b-e9d2d9c289f9",
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "name": "Progreso",
          "description": "Calcula el progreso de peso y métricas del usuario. Úsala cuando el usuario pregunte por su progreso, evolución de peso, o estadísticas.",
          "workflowId": {
            "__rl": true,
            "value": "bhJ8qqZXr68Id3pH",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "chatId",
                "type": "numberValue",
                "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          }
        },
        "id": "tool-w1-progress",
        "name": "Tool: Progreso",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          3200,
          288
        ]
      },
      {
        "parameters": {
          "name": "Plan_Comidas",
          "description": "Genera un plan de alimentación personalizado. Úsala cuando el usuario pida un plan de comidas, dieta, o quiera cambiar su nutrición.",
          "workflowId": {
            "__rl": true,
            "value": "KQhP9lQNxCKeOsbJ",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "chatId",
                "type": "numberValue",
                "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          }
        },
        "id": "tool-w2-meal",
        "name": "Tool: Plan Comidas",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          2880,
          288
        ]
      },
      {
        "parameters": {
          "name": "Rutina",
          "description": "Genera una rutina de ejercicios personalizada. Úsala cuando el usuario pida una rutina de entrenamiento, ejercicios, o gym.",
          "workflowId": {
            "__rl": true,
            "value": "ETjiYAUhXfsVSyWQ",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "chatId",
                "type": "numberValue",
                "numberValue": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          }
        },
        "id": "tool-w3-workout",
        "name": "Tool: Rutina",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          3040,
          288
        ]
      },
      {
        "parameters": {
          "name": "RegistrarEvento",
          "description": "Registra eventos del usuario en su memoria personal RAG: peso registrado, comida reportada, cambios de perfil, metas establecidas. Usa esta herramienta CADA VEZ que el usuario reporte algo nuevo sobre su salud o progreso (peso actual, lo que comio, un nuevo objetivo).",
          "workflowId": {
            "__rl": true,
            "value": "vAqqjXg2IE1ldgg3",
            "mode": "id"
          },
          "fields": {
            "values": [
              {
                "name": "userId",
                "type": "numberValue",
                "numberValue": "={{ $('Check User & Membership').item.json.user_id }}"
              },
              {
                "name": "eventType",
                "stringValue": "={{ $fromAI('eventType', 'Tipo de evento: weight_log | meal_reported | profile_update | goal_set') }}"
              },
              {
                "name": "eventDataJson",
                "stringValue": "={{ $fromAI('eventData', 'JSON string con los datos del evento. Para weight_log: {\"weight_kg\": 80.5, \"notes\": \"opcional\"}. Para meal_reported: {\"meal_description\": \"desc\", \"calories\": 350, \"meal_type\": \"breakfast|lunch|dinner\"}. Para profile_update: {\"campo\": \"valor\"}. Para goal_set: {\"goal_type\": \"tipo\", \"target_weight_kg\": 75}') }}"
              }
            ]
          }
        },
        "id": "tool-w4-rag",
        "name": "Tool: Registrar Evento",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 1.3,
        "position": [
          2720,
          288
        ]
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Busca en la memoria personal del usuario: historial de peso, comidas reportadas, metas y eventos registrados. Úsala cuando el usuario mencione comidas, peso, o pregunte qué ha registrado.",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "user_rag"
          },
          "topK": 5,
          "options": {}
        },
        "id": "vs-user-rag-tool-v2",
        "name": "Tool: Contexto Personal",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          3328,
          288
        ],
        "credentials": {
          "qdrantApi": {
            "id": "ZgvYkNPmxRynoz3F",
            "name": "Qdrant account Fitia"
          }
        }
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "embeddings-user-rag-v2",
        "name": "OpenAI Embeddings (RAG)",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          3328,
          464
        ],
        "credentials": {
          "openAiApi": {
            "id": "NOJoPVNWDXiywRgw",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "cp1",
                "name": "phone_number",
                "type": "string",
                "value": "={{ $json.message.contact.phone_number }}"
              },
              {
                "id": "cp2",
                "name": "telegram_id",
                "type": "string",
                "value": "={{ $json.message.contact.user_id }}"
              },
              {
                "id": "cp3",
                "name": "chatId",
                "type": "string",
                "value": "={{ $json.message.chat.id }}"
              }
            ]
          },
          "options": {}
        },
        "id": "contact-set-001",
        "name": "Set Phone Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          192,
          864
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users SET phone_number = $1, updated_at = NOW() WHERE telegram_id = $2",
          "options": {
            "queryReplacement": "={{ [$json.phone_number, String($json.telegram_id)] }}"
          }
        },
        "id": "contact-pg-001",
        "name": "Save Phone Number",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          480,
          864
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Set Phone Data').item.json.chatId }}",
          "text": "✅ ¡Perfecto! Tu número ha sido guardado. Ya tienes todo configurado.",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "id": "contact-ack-001",
        "name": "Phone ACK",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          800,
          864
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "webhookId": "7cdd84ef-4e51-42fe-94f1-9681163a8a62",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "\nconst output = $input.first().json.output || '';\n\nconst START = '[PERFIL_COMPLETO]';\nconst END   = '[/PERFIL_COMPLETO]';\nconst s = output.indexOf(START);\nconst e = output.indexOf(END);\n\nlet cleanText = output.trim();\nlet hasProfile = false;\nlet profile = null;\n\nif (s !== -1 && e !== -1) {\n  cleanText = output.substring(0, s).trim();\n  const jsonStr = output.substring(s + START.length, e).trim();\n  try {\n    const raw = JSON.parse(jsonStr);\n    hasProfile = true;\n\n    const actMap = {\n      'sedentario':'sedentary','sedentary':'sedentary',\n      'poco activo':'lightly_active','lightly_active':'lightly_active',\n      'moderadamente activo':'moderately_active','moderately_active':'moderately_active',\n      'muy activo':'very_active','very_active':'very_active',\n      'extremadamente activo':'extra_active','extra_active':'extra_active'\n    };\n    const goalMap = {\n      'bajar de peso':'lose_weight','perder peso':'lose_weight','lose_weight':'lose_weight',\n      'ganar musculo':'gain_muscle','gain_muscle':'gain_muscle',\n      'mantener':'maintain','maintain':'maintain',\n      'recomposicion':'recomposition','recomposition':'recomposition'\n    };\n    const genderMap = {'masculino':'male','male':'male','femenino':'female','female':'female'};\n    const budgetMap = {\n      'economico':'low','low':'low',\n      'moderado':'medium','medium':'medium',\n      'sin restriccion':'high','alto':'high','high':'high'\n    };\n    const fitnessMap = {\n      'principiante':'beginner','beginner':'beginner',\n      'intermedio':'intermediate','intermediate':'intermediate',\n      'avanzado':'advanced','advanced':'advanced'\n    };\n\n    const toArr = (v) => {\n      if (!v || v === 'ninguna' || v === 'ninguno') return '[]';\n      if (Array.isArray(v)) {\n        const filtered = v.filter(x => x && x !== 'ninguna' && x !== 'ninguno');\n        return JSON.stringify(filtered);\n      }\n      return JSON.stringify([v]);\n    };\n\n    profile = {\n      gender:   genderMap[(raw.genero||'').toLowerCase()] || 'male',\n      age:      parseInt(raw.edad) || 25,\n      height_cm: parseFloat(raw.altura_cm) || 170,\n      weight_kg: parseFloat(raw.peso_kg) || 70,\n      activity_level: actMap[(raw.actividad||'').toLowerCase()] || 'moderately_active',\n      fitness_level:  fitnessMap[(raw.fitness||'').toLowerCase()] || 'beginner',\n      goal: goalMap[(raw.objetivo||'').toLowerCase()] || 'lose_weight',\n      dietary_restrictions: toArr(raw.restricciones),\n      food_allergies:  toArr(raw.alergias),\n      disliked_foods:  toArr(raw.disgustos),\n      injuries:        toArr(raw.lesiones),\n      available_equipment: toArr(raw.equipamiento),\n      training_days_per_week: parseInt(raw.dias_entrenamiento) || 3,\n      meal_count: parseInt(raw.comidas_dia) || 3,\n      local_culture: raw.cultura || 'colombiana',\n      budget_level: budgetMap[(raw.presupuesto||'').toLowerCase()] || 'medium',\n      country:  raw.pais  || null,\n      city:     raw.ciudad || null,\n      document_number: (raw.documento && raw.documento !== 'prefiero no dar') ? raw.documento : null\n    };\n\n    // Construir resumen legible del perfil para mostrar al usuario\n    const goalLabels = { lose_weight:'Bajar de peso', gain_muscle:'Ganar músculo', maintain:'Mantener peso', recomposition:'Recomposición' };\n    const actLabels  = { sedentary:'Sedentario', lightly_active:'Poco activo', moderately_active:'Moderadamente activo', very_active:'Muy activo', extra_active:'Extremadamente activo' };\n    const fitLabels  = { beginner:'Principiante', intermediate:'Intermedio', advanced:'Avanzado' };\n\n    const restrictions = JSON.parse(profile.dietary_restrictions);\n    const restrictStr  = restrictions.length > 0 ? restrictions.join(', ') : 'Ninguna';\n\n    const profileSummary = [\n      '',\n      `🎯 *Objetivo:* ${goalLabels[profile.goal] || profile.goal}`,\n      `⚖️ *Peso:* ${profile.weight_kg} kg | *Altura:* ${profile.height_cm} cm`,\n      `🏃 *Actividad:* ${actLabels[profile.activity_level] || profile.activity_level}`,\n      `💪 *Nivel fitness:* ${fitLabels[profile.fitness_level] || profile.fitness_level}`,\n      `🍽️ *Comidas/día:* ${profile.meal_count} | *Días entreno/sem:* ${profile.training_days_per_week}`,\n      `🚫 *Restricciones:* ${restrictStr}`,\n    ].join('\\n');\n\n    cleanText = (cleanText || '¡Perfil completado! Aquí tienes tu resumen:') + profileSummary;\n\n  } catch(e) {\n    hasProfile = false;\n  }\n}\n\nconst userId = $('Check User & Membership').item.json.user_id;\nconst chatId = $('Set User Context').item.json.chatId;\n\nreturn [{ json: { cleanText, hasProfile, profile, userId, chatId } }];\n"
        },
        "id": "profile-parse-001",
        "name": "Parse Profile",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3040,
          720
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "pc1",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.hasProfile }}",
                "rightValue": ""
              }
            ]
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "profile-if-001",
        "name": "Has PERFIL_COMPLETO?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          3248,
          720
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO user_profiles (user_id, gender, age, height_cm, weight_kg, activity_level, fitness_level, goal, dietary_restrictions, food_allergies, disliked_foods, injuries, available_equipment, training_days_per_week, meal_count, local_culture, budget_level, onboarding_completed) VALUES ($1, $2::gender_type, $3, $4, $5, $6::activity_level, $7::fitness_level, $8::goal_type, ARRAY(SELECT jsonb_array_elements_text($9::jsonb)), ARRAY(SELECT jsonb_array_elements_text($10::jsonb)), ARRAY(SELECT jsonb_array_elements_text($11::jsonb)), ARRAY(SELECT jsonb_array_elements_text($12::jsonb)), ARRAY(SELECT jsonb_array_elements_text($13::jsonb)), $14, $15, $16, $17::budget_level, false) ON CONFLICT (user_id) DO UPDATE SET gender = EXCLUDED.gender, age = EXCLUDED.age, height_cm = EXCLUDED.height_cm, weight_kg = EXCLUDED.weight_kg, activity_level = EXCLUDED.activity_level, fitness_level = EXCLUDED.fitness_level, goal = EXCLUDED.goal, dietary_restrictions = EXCLUDED.dietary_restrictions, food_allergies = EXCLUDED.food_allergies, disliked_foods = EXCLUDED.disliked_foods, injuries = EXCLUDED.injuries, available_equipment = EXCLUDED.available_equipment, training_days_per_week = EXCLUDED.training_days_per_week, meal_count = EXCLUDED.meal_count, local_culture = EXCLUDED.local_culture, budget_level = EXCLUDED.budget_level, updated_at = NOW()",
          "options": {
            "queryReplacement": "={{ [$('Parse Profile').item.json.userId, $('Parse Profile').item.json.profile.gender, $('Parse Profile').item.json.profile.age, $('Parse Profile').item.json.profile.height_cm, $('Parse Profile').item.json.profile.weight_kg, $('Parse Profile').item.json.profile.activity_level, $('Parse Profile').item.json.profile.fitness_level, $('Parse Profile').item.json.profile.goal, $('Parse Profile').item.json.profile.dietary_restrictions, $('Parse Profile').item.json.profile.food_allergies, $('Parse Profile').item.json.profile.disliked_foods, $('Parse Profile').item.json.profile.injuries, $('Parse Profile').item.json.profile.available_equipment, $('Parse Profile').item.json.profile.training_days_per_week, $('Parse Profile').item.json.profile.meal_count, $('Parse Profile').item.json.profile.local_culture, $('Parse Profile').item.json.profile.budget_level] }}"
          }
        },
        "id": "profile-save-001",
        "name": "Save User Profile",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3856,
          704
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users SET country = $1, city = $2, document_number = $3, updated_at = NOW() WHERE id = $4",
          "options": {
            "queryReplacement": "={{ [$('Parse Profile').item.json.profile.country, $('Parse Profile').item.json.profile.city, $('Parse Profile').item.json.profile.document_number, $('Parse Profile').item.json.userId] }}"
          }
        },
        "id": "profile-user-001",
        "name": "Update User Contact Data",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4080,
          704
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Parse Profile').item.json.chatId }}",
          "text": "={{ $('Parse Profile').item.json.cleanText }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "profile-msg-001",
        "name": "Send Profile Done",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          4512,
          704
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "webhookId": "474cd4c6-78e0-4c8f-9cf8-4b08b99ea277",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8614996928:AAFNVI6I_2bbRjdoRuAGhL0zQiiEHVWZA9c/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('Parse Profile').item.json.chatId }}"
              },
              {
                "name": "text",
                "value": "📱 Para finalizar tu registro, necesito tu número de teléfono.\n\nPresiona el botón para compartirlo de forma segura."
              },
              {
                "name": "reply_markup",
                "value": "={{ JSON.stringify({ keyboard: [[{ text: '📱 Compartir mi número', request_contact: true }]], resize_keyboard: true, one_time_keyboard: true }) }}"
              }
            ]
          },
          "options": {}
        },
        "id": "phone-req-001",
        "name": "Request Phone Number",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4736,
          704
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id, first_name, true::boolean AS migration_match\nFROM users\nWHERE migration_token = UPPER(TRIM($1))\n  AND migration_token_expires_at > NOW()\nUNION ALL\nSELECT NULL::integer, NULL::text, false::boolean\nLIMIT 1",
          "options": {
            "queryReplacement": "={{ $json.message.text }}"
          }
        },
        "id": "migration-check-001",
        "name": "Check Migration Token",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          624,
          112
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "mt1",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.migration_match }}",
                "rightValue": ""
              }
            ]
          },
          "options": {
            "looseTypeValidation": true
          }
        },
        "id": "migration-if-001",
        "name": "Is Migration Token?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1056,
          112
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE users SET telegram_id = $1,     migration_token = NULL,     migration_token_expires_at = NULL,     updated_at = NOW() WHERE id = $2 RETURNING first_name",
          "options": {
            "queryReplacement": "={{ [String($('Set User Context').item.json.telegramId), $('Check Migration Token').item.json.id] }}"
          }
        },
        "id": "migration-apply-001",
        "name": "Apply Migration",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1280,
          96
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Set User Context').item.json.chatId }}",
          "text": "=✅ *¡Migración completada!*\n\nTu cuenta de FitAI ha sido vinculada a este Telegram. Todo tu historial, perfil y membresía están disponibles. Escríbeme cuando quieras continuar.",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "migration-ack-001",
        "name": "Send Migration Success",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1552,
          96
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "webhookId": "45051bd1-897d-4013-add3-b39931d7cc6e",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Always produce output regardless of whether the token matched.\n// Check Migration Token returns [] when no match — this would stop the flow.\nconst rows = $input.all();\nconst match = rows.length > 0 && rows[0].json && rows[0].json.id;\nif (match) {\n  return [{ json: { ...rows[0].json, migration_match: true } }];\n}\nreturn [{ json: { id: null, migration_match: false } }];"
        },
        "id": "normalize-token-001",
        "name": "Normalize Token Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          800,
          112
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT answers, last_step FROM onboarding_progress WHERE user_id = $1\nUNION ALL\nSELECT '{}'::jsonb, 0\nLIMIT 1",
          "options": {
            "queryReplacement": "={{ $('Check User & Membership').item.json.user_id }}"
          }
        },
        "id": "11111111-0030-4000-8000-000000000030",
        "name": "Load Onboarding Progress",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2512,
          576
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO onboarding_progress (user_id, answers, last_step, updated_at)\nVALUES ($1, $2::jsonb, $3, NOW())\nON CONFLICT (user_id) DO UPDATE SET\n  answers    = EXCLUDED.answers,\n  last_step  = EXCLUDED.last_step,\n  updated_at = NOW()",
          "options": {
            "queryReplacement": "={{ [$('Check User & Membership').item.json.user_id, JSON.stringify($('Parse Profile').item.json.profile || {}), $('Parse Profile').item.json.hasProfile ? 20 : 10] }}"
          }
        },
        "id": "11111111-0031-4000-8000-000000000031",
        "name": "Save Onboarding Progress",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3600,
          976
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "DELETE FROM onboarding_progress WHERE user_id = $1",
          "options": {
            "queryReplacement": "={{ $('Check User & Membership').item.json.user_id }}"
          }
        },
        "id": "11111111-0032-4000-8000-000000000032",
        "name": "Clear Onboarding Progress",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          3600,
          704
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Set User Context').item.json.chatId }}",
          "text": "={{ $('Parse Profile').item.json.cleanText }}",
          "additionalFields": {
            "appendAttribution": false,
            "parse_mode": "Markdown"
          }
        },
        "id": "11111111-0050-4000-8000-000000000050",
        "name": "Send Onboarding Response",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3856,
          976
        ],
        "retryOnFail": true,
        "maxTries": 3,
        "waitBetweenTries": 2000,
        "webhookId": "019329a3-2079-4fe5-a9cc-06ae057a7f48",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE user_profiles SET updated_at = NOW() WHERE user_id = $1",
          "options": {
            "queryReplacement": "={{ [$('Parse Profile').item.json.userId] }}"
          }
        },
        "id": "11111111-0060-4000-8000-000000000060",
        "name": "Mark Onboarding Complete",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          4304,
          704
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "CCkMv75zwDDoj513",
            "mode": "list",
            "cachedResultUrl": "/workflow/CCkMv75zwDDoj513",
            "cachedResultName": "FitAI - Process text message"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "callback_query": "={{ $('Telegram Trigger').item.json.callback_query }}",
              "message": "={{ $('Telegram Trigger').item.json.message }}",
              "": "={{ $('Telegram Trigger').item.json }}"
            },
            "matchingColumns": [
              "callback_query",
              "message",
              ""
            ],
            "schema": [
              {
                "id": "callback_query",
                "displayName": "callback_query",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "message",
                "displayName": "message",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "",
                "displayName": "",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          192,
          112
        ],
        "name": "Call process text message",
        "id": "bb616577-3076-40d8-8cd0-f6bdee27e9a9"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "uc1",
                "name": "message.text",
                "type": "string",
                "value": "={{ $json.message?.text }}"
              },
              {
                "id": "uc2",
                "name": "chatId",
                "type": "string",
                "value": "={{ $json.chatId }}"
              },
              {
                "id": "uc3",
                "name": "telegramId",
                "type": "string",
                "value": "={{ $json.telegramId }}"
              },
              {
                "id": "uc4",
                "name": "firstName",
                "type": "string",
                "value": "={{ $json.firstName }}"
              }
            ]
          },
          "options": {}
        },
        "id": "set-user-ctx-001",
        "name": "Set User Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          416,
          112
        ]
      },
      {
        "id": "phone-pending-if-001",
        "name": "Phone Pending?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1400,
          -200
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "cond-phone-pending",
                "leftValue": "={{ $('Check User & Membership').item.json.phone_pending }}",
                "rightValue": "true",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "phone-reminder-001",
        "name": "Send Phone Reminder",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1600,
          -100
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.telegram.org/bot8614996928:AAFNVI6I_2bbRjdoRuAGhL0zQiiEHVWZA9c/sendMessage",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "chat_id",
                "value": "={{ $('Set User Context').item.json.chatId }}"
              },
              {
                "name": "text",
                "value": "📱 Aún necesito tu número de teléfono para completar tu registro.\n\nPresiona el botón de abajo para compartirlo."
              },
              {
                "name": "reply_markup",
                "value": "={{ JSON.stringify({ keyboard: [[{ text: '📱 Compartir mi número', request_contact: true }]], resize_keyboard: true, one_time_keyboard: true }) }}"
              }
            ]
          },
          "options": {}
        },
        "credentials": {}
      },
      {
        "id": "complete-onboarding-001",
        "name": "Complete Onboarding",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2800,
          400
        ],
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE user_profiles SET onboarding_completed = true, onboarding_completed_at = NOW(), updated_at = NOW() WHERE user_id = (SELECT id FROM users WHERE telegram_id = $1)",
          "options": {
            "queryReplacement": "={{ [String($('Set Phone Data').item.json.telegram_id)] }}"
          }
        },
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Route Message Type",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Message Type": {
        "main": [
          [
            {
              "node": "Call process text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get Voice File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call process text message",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Phone Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Voice File": {
        "main": [
          [
            {
              "node": "Transcribe Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe Voice": {
        "main": [
          [
            {
              "node": "Set Text from Voice",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Text from Voice": {
        "main": [
          [
            {
              "node": "Set User Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upsert User": {
        "main": [
          [
            {
              "node": "Check User & Membership",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check User & Membership": {
        "main": [
          [
            {
              "node": "Has Active Membership?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Active Membership?": {
        "main": [
          [
            {
              "node": "Onboarding Complete?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Membership Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Complete?": {
        "main": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Phone Pending?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "FitAI Main AI Agent": {
        "main": [
          [
            {
              "node": "Send Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Agent": {
        "main": [
          [
            {
              "node": "Parse Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "FitAI Memory": {
        "ai_memory": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model Onboarding": {
        "ai_languageModel": [
          [
            {
              "node": "Onboarding Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Onboarding Memory": {
        "ai_memory": [
          [
            {
              "node": "Onboarding Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Progreso": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Plan Comidas": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Rutina": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Registrar Evento": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Embeddings (RAG)": {
        "ai_embedding": [
          [
            {
              "node": "Tool: Contexto Personal",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Tool: Contexto Personal": {
        "ai_tool": [
          [
            {
              "node": "FitAI Main AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Set Phone Data": {
        "main": [
          [
            {
              "node": "Save Phone Number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Phone Number": {
        "main": [
          [
            {
              "node": "Complete Onboarding",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Phone ACK": {
        "main": [
          []
        ]
      },
      "Parse Profile": {
        "main": [
          [
            {
              "node": "Has PERFIL_COMPLETO?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has PERFIL_COMPLETO?": {
        "main": [
          [
            {
              "node": "Clear Onboarding Progress",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Save Onboarding Progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save User Profile": {
        "main": [
          [
            {
              "node": "Update User Contact Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update User Contact Data": {
        "main": [
          [
            {
              "node": "Mark Onboarding Complete",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Profile Done": {
        "main": [
          [
            {
              "node": "Request Phone Number",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Request Phone Number": {
        "main": [
          []
        ]
      },
      "Check Migration Token": {
        "main": [
          [
            {
              "node": "Normalize Token Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Migration Token?": {
        "main": [
          [
            {
              "node": "Apply Migration",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Upsert User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Apply Migration": {
        "main": [
          [
            {
              "node": "Send Migration Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Migration Success": {
        "main": [
          []
        ]
      },
      "Normalize Token Result": {
        "main": [
          [
            {
              "node": "Is Migration Token?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clear Onboarding Progress": {
        "main": [
          [
            {
              "node": "Save User Profile",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Onboarding Progress": {
        "main": [
          [
            {
              "node": "Send Onboarding Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Onboarding Progress": {
        "main": [
          [
            {
              "node": "Onboarding Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Onboarding Complete": {
        "main": [
          [
            {
              "node": "Send Profile Done",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call process text message": {
        "main": [
          [
            {
              "node": "Set User Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set User Context": {
        "main": [
          [
            {
              "node": "Check Migration Token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Phone Pending?": {
        "main": [
          [
            {
              "node": "Send Phone Reminder",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Load Onboarding Progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Complete Onboarding": {
        "main": [
          [
            {
              "node": "Phone ACK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-31T14:52:04.747Z",
        "id": 247,
        "workflowId": "fI5u4rs3iXPfeXFl",
        "versionId": "9979cb49-cbc9-4abb-9679-014837d992ae",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}