n8n/workflows/02-main-ai-agent.json
{
  "updatedAt": "2026-03-27T16:33:19.962Z",
  "createdAt": "2026-03-27T16:33:19.962Z",
  "id": "Gr7BeeNHBx6ZtQGS",
  "name": "FitAI - Main AI Agent",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "b1c2d3e4-0001-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.*, g.goal_type, g.target_weight, g.start_weight, g.start_date, g.target_date\nFROM user_profiles up\nLEFT JOIN goals g ON up.user_id = g.user_id AND g.is_active = true\nWHERE up.user_id = $1;",
        "additionalFields": {
          "queryParams": "={{ [$json.userId] }}"
        }
      },
      "id": "b1c2d3e4-0002-4000-8000-000000000002",
      "name": "Get User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT plan_json FROM meal_plans WHERE user_id = $1 AND is_active = true LIMIT 1",
        "additionalFields": {
          "queryParams": "={{ [$('Execute Workflow Trigger').item.json.userId] }}"
        }
      },
      "id": "b1c2d3e4-0003-4000-8000-000000000003",
      "name": "Get Active Meal Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        -150
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT plan_json FROM exercise_plans WHERE user_id = $1 AND is_active = true LIMIT 1",
        "additionalFields": {
          "queryParams": "={{ [$('Execute Workflow Trigger').item.json.userId] }}"
        }
      },
      "id": "b1c2d3e4-0004-4000-8000-000000000004",
      "name": "Get Active Exercise Plan",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT weight_kg, logged_at FROM weight_logs WHERE user_id = $1 ORDER BY logged_at DESC LIMIT 1",
        "additionalFields": {
          "queryParams": "={{ [$('Execute Workflow Trigger').item.json.userId] }}"
        }
      },
      "id": "b1c2d3e4-0005-4000-8000-000000000005",
      "name": "Get Recent Weight",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        500,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst profile = $('Get User Profile').first().json;\n\nconst currentDate = new Date().toISOString().split('T')[0];\n\nconst userProfile = JSON.stringify({\n  gender: profile.gender,\n  age: profile.age,\n  height_cm: profile.height_cm,\n  weight_kg: profile.weight_kg,\n  activity_level: profile.activity_level,\n  fitness_level: profile.fitness_level,\n  goal: profile.goal,\n  goal_type: profile.goal_type,\n  target_weight: profile.target_weight,\n  dietary_restrictions: profile.dietary_restrictions,\n  food_allergies: profile.food_allergies,\n  disliked_foods: profile.disliked_foods,\n  injuries: profile.injuries,\n  available_equipment: profile.available_equipment,\n  training_days_per_week: profile.training_days_per_week,\n  wake_up_time: profile.wake_up_time,\n  sleep_time: profile.sleep_time,\n  meal_count: profile.meal_count,\n  local_culture: profile.local_culture,\n  budget: profile.budget_level,\n  caloric_target: profile.caloric_target,\n  protein_target_g: profile.protein_target_g,\n  carb_target_g: profile.carb_target_g,\n  fat_target_g: profile.fat_target_g\n}, null, 2);\n\nreturn [{\n  json: {\n    userName: trigger.firstName,\n    userProfile,\n    currentDate,\n    userId: trigger.userId,\n    telegramId: trigger.telegramId,\n    chatId: trigger.chatId,\n    text: trigger.text,\n    planType: trigger.planType\n  }\n}];"
      },
      "id": "b1c2d3e4-0006-4000-8000-000000000006",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "agent": "openAiFunctionsAgent",
        "promptType": "define",
        "text": "={{ $json.text }}",
        "systemMessage": "Eres FitAI, un asistente personal experto en nutrici\u00f3n y fitness. Est\u00e1s ayudando a {{ $json.userName }} a alcanzar sus objetivos de salud.\n\nFecha actual: {{ $json.currentDate }}\n\nPerfil del usuario:\n{{ $json.userProfile }}\n\nResponde siempre en espa\u00f1ol, de forma amable, motivadora y profesional. Usa emojis ocasionalmente para hacer la conversaci\u00f3n m\u00e1s amena. S\u00e9 conciso pero completo en tus respuestas.",
        "options": {}
      },
      "id": "b1c2d3e4-0007-4000-8000-000000000007",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1024,
          "frequencyPenalty": 0.1,
          "presencePenalty": 0.1
        }
      },
      "id": "b1c2d3e4-0008-4000-8000-000000000008",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "sessionKey": "=fitai_{{ $('Execute Workflow Trigger').item.json.userId }}",
        "contextWindowLength": 10
      },
      "id": "b1c2d3e4-0009-4000-8000-000000000009",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1000,
        350
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Build Context').item.json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "b1c2d3e4-0010-4000-8000-000000000010",
      "name": "Send Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_logs (user_id, message_text, response_text, message_type, tokens_used, tools_called, processing_ms)\nVALUES ($1, $2, $3, $4, $5, $6, $7);",
        "additionalFields": {
          "queryParams": "={{ [\n  $('Build Context').item.json.userId,\n  $('Build Context').item.json.text,\n  $('AI Agent').item.json.output,\n  'text',\n  0,\n  '[]',\n  0\n] }}"
        }
      },
      "id": "b1c2d3e4-0011-4000-8000-000000000011",
      "name": "Log Conversation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Profile": {
      "main": [
        [
          {
            "node": "Get Active Meal Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Active Exercise Plan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Recent Weight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Meal Plan": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Exercise Plan": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Weight": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send Response": {
      "main": [
        [
          {
            "node": "Log Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5df5ad58-965a-47f5-946a-6360502734c9",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:33:19.965Z",
      "createdAt": "2026-03-27T16:33:19.965Z",
      "role": "workflow:owner",
      "workflowId": "Gr7BeeNHBx6ZtQGS",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}