n8n/workflows/03-onboarding-flow.json
{
  "updatedAt": "2026-03-27T16:35:06.408Z",
  "createdAt": "2026-03-27T16:35:06.408Z",
  "id": "Mjmz7R3aFfuLGCs3",
  "name": "FitAI - Onboarding Flow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c1d2e3f4-0001-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=onboarding:{{ $json.telegramId }}"
      },
      "id": "c1d2e3f4-0002-4000-8000-000000000002",
      "name": "Get Onboarding State",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-isnew",
              "leftValue": "={{ $json.value }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1d2e3f4-0003-4000-8000-000000000003",
      "name": "Initialize or Resume?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const firstName = $('Execute Workflow Trigger').first().json.firstName;\n\nconst state = {\n  step: 0,\n  data: {},\n  lastUpdated: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    state,\n    isValid: true,\n    isComplete: false,\n    responseMessage: `¡Hola ${firstName}! Bienvenido/a a FitAI.\\n\\nSoy tu asistente personal de nutrición y fitness. Para poder ayudarte de la mejor manera, necesito conocerte un poco.\\n\\nVamos a empezar con unas preguntas rápidas (toma unos 3 minutos).\\n\\n¿Cuál es tu género biológico? Esto me ayuda a calcular tus necesidades calóricas con precisión.\\n\\n1️⃣ Masculino\\n2️⃣ Femenino`\n  }\n}];"
      },
      "id": "c1d2e3f4-0004-4000-8000-000000000004",
      "name": "Initialize Onboarding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "const stateRaw = $('Get Onboarding State').first().json.value;\nconst state = typeof stateRaw === 'string' ? JSON.parse(stateRaw) : stateRaw;\nconst userText = $('Execute Workflow Trigger').first().json.text ? $('Execute Workflow Trigger').first().json.text.trim() : '';\n\nconst step = state.step;\nlet isValid = false;\nlet errorMessage = '';\nlet fieldName = '';\nlet fieldValue = null;\nlet nextQuestion = '';\n\nswitch (step) {\n  case 0: // gender\n    fieldName = 'gender';\n    if (['1', 'masculino', 'hombre', 'male'].includes(userText.toLowerCase())) {\n      fieldValue = 'male'; isValid = true;\n    } else if (['2', 'femenino', 'mujer', 'female'].includes(userText.toLowerCase())) {\n      fieldValue = 'female'; isValid = true;\n    } else {\n      errorMessage = 'Por favor responde con 1 (Masculino) o 2 (Femenino).';\n    }\n    if (isValid) nextQuestion = '¿Cuántos años tienes?';\n    break;\n\n  case 1: // age\n    fieldName = 'age';\n    const age = parseInt(userText);\n    if (!isNaN(age) && age >= 14 && age <= 100) {\n      fieldValue = age; isValid = true;\n      nextQuestion = '¿Cuánto mides? (en centímetros, ej: 170)';\n    } else {\n      errorMessage = 'Por favor ingresa una edad válida entre 14 y 100 años.';\n    }\n    break;\n\n  case 2: // height_cm\n    fieldName = 'height_cm';\n    const height = parseFloat(userText.replace(',', '.'));\n    if (!isNaN(height) && height >= 100 && height <= 250) {\n      fieldValue = height; isValid = true;\n      nextQuestion = '¿Cuánto pesas actualmente? (en kilogramos, ej: 75.5)';\n    } else {\n      errorMessage = 'Por favor ingresa una estatura válida entre 100 y 250 cm.';\n    }\n    break;\n\n  case 3: // weight_kg\n    fieldName = 'weight_kg';\n    const weight = parseFloat(userText.replace(',', '.'));\n    if (!isNaN(weight) && weight >= 30 && weight <= 300) {\n      fieldValue = weight; isValid = true;\n      nextQuestion = '¿Cuál es tu nivel de actividad física?\\n\\n1️⃣ Sedentario (trabajo de oficina, poco ejercicio)\\n2️⃣ Ligeramente activo (ejercicio 1-3 días/semana)\\n3️⃣ Moderadamente activo (ejercicio 3-5 días/semana)\\n4️⃣ Muy activo (ejercicio 6-7 días/semana)\\n5️⃣ Extra activo (atleta o trabajo muy físico)';\n    } else {\n      errorMessage = 'Por favor ingresa un peso válido entre 30 y 300 kg.';\n    }\n    break;\n\n  case 4: // activity_level\n    fieldName = 'activity_level';\n    const activityMap = {'1':'sedentary','2':'lightly_active','3':'moderately_active','4':'very_active','5':'extra_active'};\n    if (activityMap[userText]) {\n      fieldValue = activityMap[userText]; isValid = true;\n      nextQuestion = '¿Cuál es tu nivel de experiencia con el ejercicio?\\n\\n1️⃣ Principiante (menos de 6 meses)\\n2️⃣ Intermedio (6 meses a 2 años)\\n3️⃣ Avanzado (más de 2 años)';\n    } else {\n      errorMessage = 'Por favor responde con un número del 1 al 5.';\n    }\n    break;\n\n  case 5: // fitness_level\n    fieldName = 'fitness_level';\n    const fitnessMap = {'1':'beginner','2':'intermediate','3':'advanced'};\n    if (fitnessMap[userText]) {\n      fieldValue = fitnessMap[userText]; isValid = true;\n      nextQuestion = '¿Cuál es tu objetivo principal?\\n\\n1️⃣ Perder peso\\n2️⃣ Ganar músculo\\n3️⃣ Mantener peso\\n4️⃣ Recomposición corporal';\n    } else {\n      errorMessage = 'Por favor responde con 1, 2 o 3.';\n    }\n    break;\n\n  case 6: // goal\n    fieldName = 'goal';\n    const goalMap = {'1':'lose_weight','2':'gain_muscle','3':'maintain','4':'recomposition'};\n    if (goalMap[userText]) {\n      fieldValue = goalMap[userText]; isValid = true;\n      if (goalMap[userText] === 'lose_weight' || goalMap[userText] === 'gain_muscle') {\n        nextQuestion = '¿Cuál es tu peso objetivo? (en kg, ej: 70)\\nSi no tienes un número específico, escribe \"no sé\".';\n      } else {\n        nextQuestion = '¿Tienes alguna restricción dietética? (ej: vegetariano, vegano, sin gluten)\\nSi no tienes ninguna, escribe \"ninguna\".';\n        state.step = 7; // will become 8 after increment\n      }\n    } else {\n      errorMessage = 'Por favor responde con un número del 1 al 4.';\n    }\n    break;\n\n  case 7: // target_weight\n    fieldName = 'target_weight';\n    const targetW = parseFloat(userText.replace(',', '.'));\n    if (!isNaN(targetW) && targetW >= 30 && targetW <= 300) {\n      fieldValue = targetW; isValid = true;\n    } else if (['no se', 'no sé', 'skip', 'ninguno'].includes(userText.toLowerCase())) {\n      fieldValue = null; isValid = true;\n    } else {\n      errorMessage = 'Por favor ingresa un peso objetivo válido o escribe \"no sé\".';\n    }\n    if (isValid) nextQuestion = '¿Tienes alguna restricción dietética? (ej: vegetariano, vegano, sin gluten)\\nSi no tienes ninguna, escribe \"ninguna\".';\n    break;\n\n  case 8: // dietary_restrictions\n    fieldName = 'dietary_restrictions';\n    fieldValue = userText; isValid = true;\n    nextQuestion = '¿Tienes alguna alergia alimentaria?\\nSi no tienes ninguna, escribe \"ninguna\".';\n    break;\n\n  case 9: // food_allergies\n    fieldName = 'food_allergies';\n    fieldValue = userText; isValid = true;\n    nextQuestion = '¿Hay alimentos que no te gusten o que prefieras evitar?\\nSi no hay ninguno, escribe \"ninguno\".';\n    break;\n\n  case 10: // disliked_foods\n    fieldName = 'disliked_foods';\n    fieldValue = userText; isValid = true;\n    nextQuestion = '¿Tienes alguna lesión o limitación física que deba considerar?\\nSi no tienes ninguna, escribe \"ninguna\".';\n    break;\n\n  case 11: // injuries\n    fieldName = 'injuries';\n    fieldValue = userText; isValid = true;\n    nextQuestion = '¿Con qué equipamiento de ejercicio cuentas? (ej: pesas, bandas, gym, nada)\\nEscribe lo que tengas disponible.';\n    break;\n\n  case 12: // available_equipment\n    fieldName = 'available_equipment';\n    fieldValue = userText; isValid = true;\n    nextQuestion = '¿Cuántos días a la semana puedes entrenar? (número del 1 al 7)';\n    break;\n\n  case 13: // training_days_per_week\n    fieldName = 'training_days_per_week';\n    const days = parseInt(userText);\n    if (!isNaN(days) && days >= 1 && days <= 7) {\n      fieldValue = days; isValid = true;\n      nextQuestion = '¿Cuántas comidas al día prefieres hacer? (número del 2 al 6)';\n    } else {\n      errorMessage = 'Por favor ingresa un número del 1 al 7.';\n    }\n    break;\n\n  case 14: // meal_count\n    fieldName = 'meal_count';\n    const meals = parseInt(userText);\n    if (!isNaN(meals) && meals >= 2 && meals <= 6) {\n      fieldValue = meals; isValid = true;\n      nextQuestion = '¿Cuál es tu presupuesto para ingredientes y comida?\\n\\n1️⃣ Bajo (económico, ingredientes básicos)\\n2️⃣ Medio (variado, ingredientes normales)\\n3️⃣ Alto (sin restricciones, ingredientes premium)';\n    } else {\n      errorMessage = 'Por favor ingresa un número del 2 al 6.';\n    }\n    break;\n\n  case 15: // budget_level\n    fieldName = 'budget_level';\n    const budgetMap = {'1':'low','2':'medium','3':'high'};\n    if (budgetMap[userText]) {\n      fieldValue = budgetMap[userText]; isValid = true;\n      nextQuestion = '¡Perfecto! Ya tengo toda la información que necesito.\\n\\nAquí está un resumen de tu perfil. Escribe \"confirmar\" para continuar o \"corregir\" si necesitas cambiar algo.';\n    } else {\n      errorMessage = 'Por favor responde con 1, 2 o 3.';\n    }\n    break;\n\n  case 16: // confirmation\n    if (['confirmar', 'si', 'sí', 'ok', 'confirm'].includes(userText.toLowerCase())) {\n      isValid = true;\n      nextQuestion = '¡Excelente! Tu perfil está listo. Ahora voy a calcular tus necesidades calóricas y crear tu plan personalizado. ¡Un momento!';\n    } else {\n      errorMessage = 'Escribe \"confirmar\" para guardar tu perfil o dime qué datos deseas corregir.';\n    }\n    break;\n\n  default:\n    isValid = true;\n    nextQuestion = '';\n}\n\nif (isValid && fieldName) {\n  state.data[fieldName] = fieldValue;\n  state.step = state.step + 1;\n  state.lastUpdated = new Date().toISOString();\n}\n\nconst isComplete = state.step > 16;\n\nreturn [{\n  json: {\n    state,\n    isValid,\n    isComplete,\n    responseMessage: isValid ? nextQuestion : errorMessage\n  }\n}];"
      },
      "id": "c1d2e3f4-0005-4000-8000-000000000005",
      "name": "Validate and Process Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        150
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=onboarding:{{ $('Execute Workflow Trigger').item.json.telegramId }}",
        "value": "={{ JSON.stringify($json.state) }}",
        "expire": true,
        "ttl": 86400
      },
      "id": "c1d2e3f4-0006-4000-8000-000000000006",
      "name": "Save Onboarding State",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-complete",
              "leftValue": "={{ $json.isComplete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "c1d2e3f4-0007-4000-8000-000000000007",
      "name": "Is Onboarding Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1250,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatId }}",
        "text": "={{ $json.responseMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "c1d2e3f4-0008-4000-8000-000000000008",
      "name": "Send Question",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1500,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json.state.data;\n\n// Mifflin-St Jeor Equation\nlet bmr;\nif (data.gender === 'male') {\n  bmr = (10 * data.weight_kg) + (6.25 * data.height_cm) - (5 * data.age) + 5;\n} else {\n  bmr = (10 * data.weight_kg) + (6.25 * data.height_cm) - (5 * data.age) - 161;\n}\n\n// Activity multipliers\nconst activityMultipliers = {\n  'sedentary': 1.2,\n  'lightly_active': 1.375,\n  'moderately_active': 1.55,\n  'very_active': 1.725,\n  'extra_active': 1.9\n};\n\nconst tdee = bmr * (activityMultipliers[data.activity_level] || 1.2);\n\n// Caloric target based on goal\nlet caloricTarget;\nswitch (data.goal) {\n  case 'lose_weight': caloricTarget = tdee - 500; break;\n  case 'gain_muscle': caloricTarget = tdee + 300; break;\n  case 'maintain': caloricTarget = tdee; break;\n  case 'recomposition': caloricTarget = tdee - 100; break;\n  default: caloricTarget = tdee;\n}\n\n// Macronutrient targets\nconst proteinTarget = data.weight_kg * (data.goal === 'gain_muscle' ? 2.2 : 1.8);\nconst fatTarget = (caloricTarget * 0.25) / 9;\nconst carbTarget = (caloricTarget - (proteinTarget * 4) - (fatTarget * 9)) / 4;\n\nconst trigger = $('Execute Workflow Trigger').first().json;\n\nreturn [{\n  json: {\n    ...data,\n    bmr: Math.round(bmr * 100) / 100,\n    tdee: Math.round(tdee * 100) / 100,\n    caloric_target: Math.round(caloricTarget * 100) / 100,\n    protein_target_g: Math.round(proteinTarget * 10) / 10,\n    carb_target_g: Math.round(carbTarget * 10) / 10,\n    fat_target_g: Math.round(fatTarget * 10) / 10,\n    userId: trigger.userId,\n    telegramId: trigger.telegramId,\n    chatId: trigger.chatId,\n    firstName: trigger.firstName\n  }\n}];"
      },
      "id": "c1d2e3f4-0009-4000-8000-000000000009",
      "name": "Calculate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_profiles (\n  user_id, gender, age, height_cm, weight_kg,\n  activity_level, fitness_level, goal,\n  dietary_restrictions, food_allergies, disliked_foods,\n  injuries, available_equipment, training_days_per_week,\n  meal_count, budget_level,\n  onboarding_completed, onboarding_completed_at,\n  bmr, tdee, caloric_target,\n  protein_target_g, carb_target_g, fat_target_g\n) VALUES (\n  $1, $2, $3, $4, $5,\n  $6, $7, $8,\n  $9, $10, $11,\n  $12, $13, $14,\n  $15, $16,\n  true, NOW(),\n  $17, $18, $19,\n  $20, $21, $22\n)\nON CONFLICT (user_id)\nDO UPDATE SET\n  gender = EXCLUDED.gender,\n  age = EXCLUDED.age,\n  height_cm = EXCLUDED.height_cm,\n  weight_kg = EXCLUDED.weight_kg,\n  activity_level = EXCLUDED.activity_level,\n  fitness_level = EXCLUDED.fitness_level,\n  goal = EXCLUDED.goal,\n  dietary_restrictions = EXCLUDED.dietary_restrictions,\n  food_allergies = EXCLUDED.food_allergies,\n  disliked_foods = EXCLUDED.disliked_foods,\n  injuries = EXCLUDED.injuries,\n  available_equipment = EXCLUDED.available_equipment,\n  training_days_per_week = EXCLUDED.training_days_per_week,\n  meal_count = EXCLUDED.meal_count,\n  budget_level = EXCLUDED.budget_level,\n  onboarding_completed = true,\n  onboarding_completed_at = NOW(),\n  bmr = EXCLUDED.bmr,\n  tdee = EXCLUDED.tdee,\n  caloric_target = EXCLUDED.caloric_target,\n  protein_target_g = EXCLUDED.protein_target_g,\n  carb_target_g = EXCLUDED.carb_target_g,\n  fat_target_g = EXCLUDED.fat_target_g;",
        "additionalFields": {
          "queryParams": "={{ [\n  $json.userId,\n  $json.gender,\n  $json.age,\n  $json.height_cm,\n  $json.weight_kg,\n  $json.activity_level,\n  $json.fitness_level,\n  $json.goal,\n  $json.dietary_restrictions || 'ninguna',\n  $json.food_allergies || 'ninguna',\n  $json.disliked_foods || 'ninguno',\n  $json.injuries || 'ninguna',\n  $json.available_equipment || 'ninguno',\n  $json.training_days_per_week,\n  $json.meal_count,\n  $json.budget_level || 'medium',\n  $json.bmr,\n  $json.tdee,\n  $json.caloric_target,\n  $json.protein_target_g,\n  $json.carb_target_g,\n  $json.fat_target_g\n] }}"
        }
      },
      "id": "c1d2e3f4-0010-4000-8000-000000000010",
      "name": "Save User Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1750,
        0
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=onboarding:{{ $('Execute Workflow Trigger').item.json.telegramId }}"
      },
      "id": "c1d2e3f4-0011-4000-8000-000000000011",
      "name": "Clear Onboarding State",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chatId }}",
        "text": "¡Tu perfil está completo! 🎉\n\nAquí están tus métricas calculadas:\n📊 BMR: {{ $('Calculate Metrics').item.json.bmr }} kcal/día\n🔥 TDEE: {{ $('Calculate Metrics').item.json.tdee }} kcal/día\n🎯 Objetivo calórico: {{ $('Calculate Metrics').item.json.caloric_target }} kcal/día\n💪 Proteína: {{ $('Calculate Metrics').item.json.protein_target_g }}g\n🍞 Carbohidratos: {{ $('Calculate Metrics').item.json.carb_target_g }}g\n🥑 Grasas: {{ $('Calculate Metrics').item.json.fat_target_g }}g\n\nYa puedes comenzar a usar FitAI. ¡Pregúntame lo que necesites sobre nutrición y fitness!",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      },
      "id": "c1d2e3f4-0012-4000-8000-000000000012",
      "name": "Send Completion Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2250,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Onboarding State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Onboarding State": {
      "main": [
        [
          {
            "node": "Initialize or Resume?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize or Resume?": {
      "main": [
        [
          {
            "node": "Initialize Onboarding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate and Process Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Onboarding": {
      "main": [
        [
          {
            "node": "Save Onboarding State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate and Process Step": {
      "main": [
        [
          {
            "node": "Save Onboarding State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Onboarding State": {
      "main": [
        [
          {
            "node": "Is Onboarding Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Onboarding Complete?": {
      "main": [
        [
          {
            "node": "Calculate Metrics",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Metrics": {
      "main": [
        [
          {
            "node": "Save User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Profile": {
      "main": [
        [
          {
            "node": "Clear Onboarding State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Onboarding State": {
      "main": [
        [
          {
            "node": "Send Completion Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "40de874f-7c51-4177-b5fe-b5d295d6d513",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:35:06.411Z",
      "createdAt": "2026-03-27T16:35:06.411Z",
      "role": "workflow:owner",
      "workflowId": "Mjmz7R3aFfuLGCs3",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}