n8n/workflows/05-meal-reminder-scheduler.json
{
  "updatedAt": "2026-04-02T14:49:25.988Z",
  "createdAt": "2026-03-27T16:33:56.395Z",
  "id": "SntGuE97yl9efvo5",
  "name": "FitAI - Meal Reminder Scheduler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "mr-01",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 7-21 * * *"
            }
          ]
        },
        "timezone": "America/Bogota"
      }
    },
    {
      "id": "mr-02",
      "name": "Get Users with Upcoming Meal",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        300
      ],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH user_meals AS (\n  SELECT u.id AS user_id, u.telegram_id, u.first_name,\n         up.caloric_target, up.protein_target_g,\n         mp.plan_json,\n         dt.calories_consumed, dt.protein_consumed_g, dt.meals_logged,\n         m.meal_type, m.meal_name, m.meal_time, m.meal_calories, m.meal_protein\n  FROM users u\n  JOIN memberships mb ON u.id = mb.user_id AND mb.status = 'active' AND mb.expires_at > NOW()\n  JOIN user_profiles up ON u.id = up.user_id AND up.onboarding_completed = true\n  JOIN meal_plans mp ON u.id = mp.user_id AND mp.plan_date = (NOW() AT TIME ZONE 'America/Bogota')::date AND mp.is_active = true\n  LEFT JOIN daily_targets dt ON u.id = dt.user_id AND dt.target_date = (NOW() AT TIME ZONE 'America/Bogota')::date\n  CROSS JOIN LATERAL jsonb_array_elements(mp.plan_json::jsonb -> 'meals') AS meal_item\n  CROSS JOIN LATERAL (\n    SELECT\n      meal_item ->> 'meal_type' AS meal_type,\n      meal_item ->> 'name' AS meal_name,\n      (meal_item ->> 'time')::time AS meal_time,\n      (meal_item ->> 'calories')::int AS meal_calories,\n      (meal_item ->> 'protein_g')::int AS meal_protein\n  ) m\n  WHERE u.is_active = true\n    AND m.meal_time BETWEEN LOCALTIME AND LOCALTIME + INTERVAL '15 minutes'\n    AND NOT EXISTS (\n      SELECT 1 FROM conversation_logs cl\n      WHERE cl.user_id = u.id\n        AND cl.message_type = 'meal_reminder'\n        AND cl.assistant_response LIKE '%' || m.meal_name || '%'\n        AND cl.created_at::date = (NOW() AT TIME ZONE 'America/Bogota')::date\n    )\n)\nSELECT * FROM user_meals;",
        "options": {}
      }
    },
    {
      "id": "mr-03",
      "name": "Has Users?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "mr-04",
      "name": "Build Reminder Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ],
      "parameters": {
        "jsCode": "const caloriesConsumed = $json.calories_consumed || 0;\nconst proteinConsumed = $json.protein_consumed_g || 0;\nconst caloriesRemaining = $json.caloric_target - caloriesConsumed;\nconst proteinRemaining = $json.protein_target_g - proteinConsumed;\nconst mealsLogged = $json.meals_logged || 0;\n\nconst mealLabels = { breakfast: 'desayuno', lunch: 'almuerzo', snack: 'snack', dinner: 'cena' };\nconst mealLabel = mealLabels[$json.meal_type] || $json.meal_type;\n\nlet balanceText = '';\nif (mealsLogged > 0) {\n  balanceText = `\\nLlevas *${caloriesConsumed} de ${$json.caloric_target} kcal* y *${proteinConsumed} de ${$json.protein_target_g}g proteína*.`;\n}\n\nconst message = `${$json.first_name}, es hora de tu ${mealLabel}: *${$json.meal_name}* — *${$json.meal_calories} kcal*, ${$json.meal_protein}g proteína.${balanceText}\\n\\nCuando termines de comer, dime qué comiste y llevo la cuenta.`;\n\nreturn [{ json: { telegramId: $json.telegram_id, userId: $json.user_id, mealName: $json.meal_name, message } }];\n"
      }
    },
    {
      "id": "mr-05",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        160
      ],
      "continueOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      },
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      }
    },
    {
      "id": "mr-06",
      "name": "Log Reminder Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_logs (user_id, message_type, message_text, assistant_response, created_at) VALUES ($1, 'meal_reminder', '[proactive]', $2, NOW());",
        "options": {
          "queryReplacement": "={ [$('Build Reminder Message').item.json.userId, $('Build Reminder Message').item.json.message] }"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Users with Upcoming Meal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users with Upcoming Meal": {
      "main": [
        [
          {
            "node": "Has Users?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Users?": {
      "main": [
        [
          {
            "node": "Build Reminder Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Reminder Message": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder": {
      "main": [
        [
          {
            "node": "Log Reminder Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timezone": "America/Bogota"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Cron Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "c4e54501-6f6c-4e32-8711-8e2bdb6dc0c3",
  "activeVersionId": "c4e54501-6f6c-4e32-8711-8e2bdb6dc0c3",
  "versionCounter": 42,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:33:56.402Z",
      "createdAt": "2026-03-27T16:33:56.402Z",
      "role": "workflow:owner",
      "workflowId": "SntGuE97yl9efvo5",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-02T14:49:25.989Z",
    "createdAt": "2026-04-02T14:49:25.989Z",
    "versionId": "c4e54501-6f6c-4e32-8711-8e2bdb6dc0c3",
    "workflowId": "SntGuE97yl9efvo5",
    "nodes": [
      {
        "id": "mr-01",
        "name": "Cron Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "*/15 7-21 * * *"
              }
            ]
          },
          "timezone": "America/Bogota"
        }
      },
      {
        "id": "mr-02",
        "name": "Get Users with Upcoming Meal",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          480,
          300
        ],
        "alwaysOutputData": true,
        "continueOnFail": true,
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH user_meals AS (\n  SELECT u.id AS user_id, u.telegram_id, u.first_name,\n         up.caloric_target, up.protein_target_g,\n         mp.plan_json,\n         dt.calories_consumed, dt.protein_consumed_g, dt.meals_logged,\n         m.meal_type, m.meal_name, m.meal_time, m.meal_calories, m.meal_protein\n  FROM users u\n  JOIN memberships mb ON u.id = mb.user_id AND mb.status = 'active' AND mb.expires_at > NOW()\n  JOIN user_profiles up ON u.id = up.user_id AND up.onboarding_completed = true\n  JOIN meal_plans mp ON u.id = mp.user_id AND mp.plan_date = (NOW() AT TIME ZONE 'America/Bogota')::date AND mp.is_active = true\n  LEFT JOIN daily_targets dt ON u.id = dt.user_id AND dt.target_date = (NOW() AT TIME ZONE 'America/Bogota')::date\n  CROSS JOIN LATERAL jsonb_array_elements(mp.plan_json::jsonb -> 'meals') AS meal_item\n  CROSS JOIN LATERAL (\n    SELECT\n      meal_item ->> 'meal_type' AS meal_type,\n      meal_item ->> 'name' AS meal_name,\n      (meal_item ->> 'time')::time AS meal_time,\n      (meal_item ->> 'calories')::int AS meal_calories,\n      (meal_item ->> 'protein_g')::int AS meal_protein\n  ) m\n  WHERE u.is_active = true\n    AND m.meal_time BETWEEN LOCALTIME AND LOCALTIME + INTERVAL '15 minutes'\n    AND NOT EXISTS (\n      SELECT 1 FROM conversation_logs cl\n      WHERE cl.user_id = u.id\n        AND cl.message_type = 'meal_reminder'\n        AND cl.assistant_response LIKE '%' || m.meal_name || '%'\n        AND cl.created_at::date = (NOW() AT TIME ZONE 'America/Bogota')::date\n    )\n)\nSELECT * FROM user_meals;",
          "options": {}
        }
      },
      {
        "id": "mr-03",
        "name": "Has Users?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $input.all().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "mr-04",
        "name": "Build Reminder Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          160
        ],
        "parameters": {
          "jsCode": "const caloriesConsumed = $json.calories_consumed || 0;\nconst proteinConsumed = $json.protein_consumed_g || 0;\nconst caloriesRemaining = $json.caloric_target - caloriesConsumed;\nconst proteinRemaining = $json.protein_target_g - proteinConsumed;\nconst mealsLogged = $json.meals_logged || 0;\n\nconst mealLabels = { breakfast: 'desayuno', lunch: 'almuerzo', snack: 'snack', dinner: 'cena' };\nconst mealLabel = mealLabels[$json.meal_type] || $json.meal_type;\n\nlet balanceText = '';\nif (mealsLogged > 0) {\n  balanceText = `\\nLlevas *${caloriesConsumed} de ${$json.caloric_target} kcal* y *${proteinConsumed} de ${$json.protein_target_g}g proteína*.`;\n}\n\nconst message = `${$json.first_name}, es hora de tu ${mealLabel}: *${$json.meal_name}* — *${$json.meal_calories} kcal*, ${$json.meal_protein}g proteína.${balanceText}\\n\\nCuando termines de comer, dime qué comiste y llevo la cuenta.`;\n\nreturn [{ json: { telegramId: $json.telegram_id, userId: $json.user_id, mealName: $json.meal_name, message } }];\n"
        }
      },
      {
        "id": "mr-05",
        "name": "Send Reminder",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1200,
          160
        ],
        "continueOnFail": true,
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        },
        "parameters": {
          "chatId": "={{ $json.telegramId }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        }
      },
      {
        "id": "mr-06",
        "name": "Log Reminder Sent",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1440,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversation_logs (user_id, message_type, message_text, assistant_response, created_at) VALUES ($1, 'meal_reminder', '[proactive]', $2, NOW());",
          "options": {
            "queryReplacement": "={ [$('Build Reminder Message').item.json.userId, $('Build Reminder Message').item.json.message] }"
          }
        }
      }
    ],
    "connections": {
      "Cron Trigger": {
        "main": [
          [
            {
              "node": "Get Users with Upcoming Meal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Users with Upcoming Meal": {
        "main": [
          [
            {
              "node": "Has Users?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Users?": {
        "main": [
          [
            {
              "node": "Build Reminder Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Build Reminder Message": {
        "main": [
          [
            {
              "node": "Send Reminder",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Reminder": {
        "main": [
          [
            {
              "node": "Log Reminder Sent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-02T14:49:26.573Z",
        "id": 361,
        "workflowId": "SntGuE97yl9efvo5",
        "versionId": "c4e54501-6f6c-4e32-8711-8e2bdb6dc0c3",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}