n8n/workflows/05-meal-reminder-scheduler.json
{
  "updatedAt": "2026-03-28T12:15:38.481Z",
  "createdAt": "2026-03-27T16:33:56.395Z",
  "id": "SntGuE97yl9efvo5",
  "name": "FitAI - Meal Reminder Scheduler",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 13 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 19 * * *"
            }
          ]
        }
      },
      "id": "node-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.telegram_id, u.first_name, up.wake_up_time, up.meal_count, mp.plan_json FROM users u JOIN memberships m ON m.user_id = u.id AND m.status = 'active' AND m.expires_at > NOW() JOIN user_profiles up ON up.user_id = u.id AND up.onboarding_completed = true JOIN meal_plans mp ON mp.user_id = u.id AND mp.is_active = true WHERE u.is_active = true;",
        "options": {}
      },
      "id": "node-2",
      "name": "Get Active Members",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst colombiaOffset = -5;\nconst currentHour = (now.getUTCHours() + 24 + colombiaOffset) % 24;\nconst currentMinute = now.getUTCMinutes();\nconst currentTime = currentHour * 60 + currentMinute;\n\nconst [wakeHour, wakeMin] = ($json.wake_up_time || '07:00').split(':').map(Number);\nconst wakeTime = wakeHour * 60 + wakeMin;\n\nconst minutesSinceWake = currentTime - wakeTime;\nlet mealType;\nif (minutesSinceWake <= 90) {\n  mealType = 'breakfast';\n} else if (minutesSinceWake <= 330) {\n  mealType = 'lunch';\n} else {\n  mealType = 'dinner';\n}\n\nconst dayNames = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];\nconst colombiaDate = new Date(now.getTime() + colombiaOffset * 3600 * 1000);\nconst today = dayNames[colombiaDate.getUTCDay()];\n\nconst plan = typeof $json.plan_json === 'string' ? JSON.parse($json.plan_json) : $json.plan_json;\nconst todayPlan = plan.days?.[today];\nconst meal = todayPlan?.meals?.find(m => m.type === mealType);\n\nif (!meal) {\n  return [{ json: { skip: true } }];\n}\n\nconst foodList = meal.foods ? meal.foods.map(f => '- ' + f.name + ': ' + f.quantity + ' ' + (f.unit || '')).join('\\n') : '';\nconst mealTypeSpanish = { breakfast: 'desayuno', lunch: 'comida', dinner: 'cena', snack: 'snack' };\n\nreturn [{\n  json: {\n    skip: false,\n    telegramId: $json.telegram_id,\n    firstName: $json.first_name,\n    mealType: mealTypeSpanish[mealType] || mealType,\n    mealName: meal.name,\n    totalCalories: meal.total_calories,\n    foodList\n  }\n}];"
      },
      "id": "node-4",
      "name": "Get Today Meal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        304
      ]
    },
    {
      "id": "skip-filter-node",
      "name": "Has Meal To Send?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1064,
        304
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "=Hola {{ $json.firstName }}! Es hora de tu {{ $json.mealType }}.\n\n🍽 {{ $json.mealName }} (~{{ $json.totalCalories }} kcal)\n\n{{ $json.foodList }}\n\nBuen provecho! Si necesitas algun ajuste o sustitucion, solo dime.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "node-5",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1304,
        304
      ],
      "webhookId": "f505682c-47eb-4abf-95f9-6e5796b80ec4",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Active Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Members": {
      "main": [
        [
          {
            "node": "Get Today Meal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Meal": {
      "main": [
        [
          {
            "node": "Has Meal To Send?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Meal To Send?": {
      "main": [
        [
          {
            "node": "Send Reminder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "8aaa9697-d4b6-468b-b43c-fa4bf3ea73c8",
  "activeVersionId": "8aaa9697-d4b6-468b-b43c-fa4bf3ea73c8",
  "versionCounter": 23,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:33:56.402Z",
      "createdAt": "2026-03-27T16:33:56.402Z",
      "role": "workflow:owner",
      "workflowId": "SntGuE97yl9efvo5",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T12:15:38.483Z",
    "createdAt": "2026-03-28T12:15:38.483Z",
    "versionId": "8aaa9697-d4b6-468b-b43c-fa4bf3ea73c8",
    "workflowId": "SntGuE97yl9efvo5",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * *"
              },
              {
                "field": "cronExpression",
                "expression": "0 13 * * *"
              },
              {
                "field": "cronExpression",
                "expression": "0 19 * * *"
              }
            ]
          }
        },
        "id": "node-1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT u.telegram_id, u.first_name, up.wake_up_time, up.meal_count, mp.plan_json FROM users u JOIN memberships m ON m.user_id = u.id AND m.status = 'active' AND m.expires_at > NOW() JOIN user_profiles up ON up.user_id = u.id AND up.onboarding_completed = true JOIN meal_plans mp ON mp.user_id = u.id AND mp.is_active = true WHERE u.is_active = true;",
          "options": {}
        },
        "id": "node-2",
        "name": "Get Active Members",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const now = new Date();\nconst colombiaOffset = -5;\nconst currentHour = (now.getUTCHours() + 24 + colombiaOffset) % 24;\nconst currentMinute = now.getUTCMinutes();\nconst currentTime = currentHour * 60 + currentMinute;\n\nconst [wakeHour, wakeMin] = ($json.wake_up_time || '07:00').split(':').map(Number);\nconst wakeTime = wakeHour * 60 + wakeMin;\n\nconst minutesSinceWake = currentTime - wakeTime;\nlet mealType;\nif (minutesSinceWake <= 90) {\n  mealType = 'breakfast';\n} else if (minutesSinceWake <= 330) {\n  mealType = 'lunch';\n} else {\n  mealType = 'dinner';\n}\n\nconst dayNames = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'];\nconst colombiaDate = new Date(now.getTime() + colombiaOffset * 3600 * 1000);\nconst today = dayNames[colombiaDate.getUTCDay()];\n\nconst plan = typeof $json.plan_json === 'string' ? JSON.parse($json.plan_json) : $json.plan_json;\nconst todayPlan = plan.days?.[today];\nconst meal = todayPlan?.meals?.find(m => m.type === mealType);\n\nif (!meal) {\n  return [{ json: { skip: true } }];\n}\n\nconst foodList = meal.foods ? meal.foods.map(f => '- ' + f.name + ': ' + f.quantity + ' ' + (f.unit || '')).join('\\n') : '';\nconst mealTypeSpanish = { breakfast: 'desayuno', lunch: 'comida', dinner: 'cena', snack: 'snack' };\n\nreturn [{\n  json: {\n    skip: false,\n    telegramId: $json.telegram_id,\n    firstName: $json.first_name,\n    mealType: mealTypeSpanish[mealType] || mealType,\n    mealName: meal.name,\n    totalCalories: meal.total_calories,\n    foodList\n  }\n}];"
        },
        "id": "node-4",
        "name": "Get Today Meal",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          944,
          304
        ]
      },
      {
        "id": "skip-filter-node",
        "name": "Has Meal To Send?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1064,
          304
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condition-1",
                "leftValue": "={{ $json.skip }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegramId }}",
          "text": "=Hola {{ $json.firstName }}! Es hora de tu {{ $json.mealType }}.\n\n🍽 {{ $json.mealName }} (~{{ $json.totalCalories }} kcal)\n\n{{ $json.foodList }}\n\nBuen provecho! Si necesitas algun ajuste o sustitucion, solo dime.",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "node-5",
        "name": "Send Reminder",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1304,
          304
        ],
        "webhookId": "f505682c-47eb-4abf-95f9-6e5796b80ec4",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Active Members",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Active Members": {
        "main": [
          [
            {
              "node": "Get Today Meal",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Today Meal": {
        "main": [
          [
            {
              "node": "Has Meal To Send?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Meal To Send?": {
        "main": [
          [
            {
              "node": "Send Reminder",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T12:15:39.563Z",
        "id": 100,
        "workflowId": "SntGuE97yl9efvo5",
        "versionId": "8aaa9697-d4b6-468b-b43c-fa4bf3ea73c8",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}