n8n/workflows/07-progress-calculator.json
{
  "updatedAt": "2026-04-02T01:11:36.524Z",
  "createdAt": "2026-03-27T16:33:48.593Z",
  "id": "bhJ8qqZXr68Id3pH",
  "name": "FitAI - Progress Calculator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "node-w7-1",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT up.*, u.first_name, u.telegram_id FROM user_profiles up JOIN users u ON u.id = up.user_id WHERE up.user_id = $1",
        "options": {
          "queryReplacement": "={{ [$('Execute Workflow Trigger').first().json.userId] }}"
        }
      },
      "id": "node-w7-2",
      "name": "Get User Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM goals WHERE user_id = $1 AND is_active = true LIMIT 1",
        "options": {
          "queryReplacement": "={{ [$('Execute Workflow Trigger').first().json.userId] }}"
        }
      },
      "id": "node-w7-3",
      "name": "Get Goals",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        688,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT weight_kg, logged_at FROM weight_logs WHERE user_id = $1 ORDER BY logged_at DESC LIMIT 8",
        "options": {
          "queryReplacement": "={{ [$('Execute Workflow Trigger').first().json.userId] }}"
        }
      },
      "id": "node-w7-4",
      "name": "Get Weight History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        912,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const userData = $('Get User Data').first().json;\nconst goalRow = $('Get Goals').first()?.json;\nconst weightHistory = $('Get Weight History').all().map(i => i.json).filter(i => i && i.weight_kg);\n\nconst currentWeight = parseFloat(userData.weight_kg) || null;\nconst targetWeight = goalRow?.target_weight ? parseFloat(goalRow.target_weight) : null;\nconst goalType = goalRow?.goal_type || userData.goal || 'general';\n\nlet totalChange = 0, weeklyRate = 0, percentProgress = 0, projectedDate = null;\n\nif (weightHistory.length >= 2) {\n  const latest = parseFloat(weightHistory[0].weight_kg);\n  const oldest = parseFloat(weightHistory[weightHistory.length - 1].weight_kg);\n  totalChange = parseFloat((latest - oldest).toFixed(1));\n  const days = weightHistory.length > 1\n    ? (new Date(weightHistory[0].logged_at) - new Date(weightHistory[weightHistory.length-1].logged_at)) / (1000*60*60*24)\n    : 7;\n  weeklyRate = days > 0 ? parseFloat(((totalChange / days) * 7).toFixed(2)) : 0;\n}\n\nif (targetWeight && currentWeight && weeklyRate !== 0) {\n  const remaining = targetWeight - currentWeight;\n  percentProgress = totalChange !== 0\n    ? Math.min(100, Math.round(Math.abs(totalChange) / Math.abs((userData.start_weight || currentWeight) - targetWeight) * 100))\n    : 0;\n  const weeksLeft = Math.abs(remaining / weeklyRate);\n  const projDate = new Date();\n  projDate.setDate(projDate.getDate() + Math.round(weeksLeft * 7));\n  projectedDate = projDate.toLocaleDateString('es-CO', { timeZone: 'America/Bogota' });\n}\n\nreturn [{\n  json: {\n    userId: userData.user_id,\n    firstName: userData.first_name,\n    currentWeight,\n    targetWeight,\n    goalType,\n    totalChange,\n    weeklyRate,\n    percentProgress,\n    projectedDate,\n    weightHistory: weightHistory.slice(0, 5),\n    daysTracked: weightHistory.length,\n    hasGoal: !!goalRow?.goal_type,\n    hasWeightData: weightHistory.length > 0\n  }\n}];\n"
      },
      "id": "node-w7-5",
      "name": "Calculate Progress",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nconst changeSymbol = data.totalChange > 0 ? '+' : '';\nconst trendEmoji = data.totalChange < 0 ? '📉' : data.totalChange > 0 ? '📈' : '➡️';\n\nlet message = '📊 *Reporte de Progreso*\\n\\nHola ' + data.firstName + '!\\n\\n';\nmessage += '⚖️ Peso actual: *' + data.currentWeight + ' kg*\\n';\n\nif (data.targetWeight) {\n  message += '🎯 Peso objetivo: *' + data.targetWeight + ' kg*\\n';\n}\n\nmessage += trendEmoji + ' Cambio total: *' + changeSymbol + data.totalChange + ' kg*\\n';\nmessage += '📅 Tasa semanal: *' + (data.weeklyRate > 0 ? '+' : '') + data.weeklyRate + ' kg/semana*\\n';\n\nif (data.percentProgress !== undefined) {\n  message += '✅ Progreso hacia meta: *' + data.percentProgress + '%*\\n';\n}\n\nif (data.projectedDate) {\n  message += '🗓️ Fecha estimada de meta: *' + data.projectedDate + '*\\n';\n}\n\nmessage += '\\n¡Sigue así! Cada paso cuenta. 💪';\n\nreturn [{ json: { chatId: data.chatId, message } }];"
      },
      "id": "node-w7-6",
      "name": "Format Progress Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        304
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Data": {
      "main": [
        [
          {
            "node": "Get Goals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Goals": {
      "main": [
        [
          {
            "node": "Get Weight History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weight History": {
      "main": [
        [
          {
            "node": "Calculate Progress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Progress": {
      "main": [
        [
          {
            "node": "Format Progress Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Progress Message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0ef1594a-299d-4789-976a-efbf22c33376",
  "activeVersionId": "0ef1594a-299d-4789-976a-efbf22c33376",
  "versionCounter": 37,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:33:48.598Z",
      "createdAt": "2026-03-27T16:33:48.598Z",
      "role": "workflow:owner",
      "workflowId": "bhJ8qqZXr68Id3pH",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-02T01:11:36.525Z",
    "createdAt": "2026-04-02T01:11:36.525Z",
    "versionId": "0ef1594a-299d-4789-976a-efbf22c33376",
    "workflowId": "bhJ8qqZXr68Id3pH",
    "nodes": [
      {
        "parameters": {},
        "id": "node-w7-1",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT up.*, u.first_name, u.telegram_id FROM user_profiles up JOIN users u ON u.id = up.user_id WHERE up.user_id = $1",
          "options": {
            "queryReplacement": "={{ [$('Execute Workflow Trigger').first().json.userId] }}"
          }
        },
        "id": "node-w7-2",
        "name": "Get User Data",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * FROM goals WHERE user_id = $1 AND is_active = true LIMIT 1",
          "options": {
            "queryReplacement": "={{ [$('Execute Workflow Trigger').first().json.userId] }}"
          }
        },
        "id": "node-w7-3",
        "name": "Get Goals",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          688,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT weight_kg, logged_at FROM weight_logs WHERE user_id = $1 ORDER BY logged_at DESC LIMIT 8",
          "options": {
            "queryReplacement": "={{ [$('Execute Workflow Trigger').first().json.userId] }}"
          }
        },
        "id": "node-w7-4",
        "name": "Get Weight History",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          912,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "const userData = $('Get User Data').first().json;\nconst goalRow = $('Get Goals').first()?.json;\nconst weightHistory = $('Get Weight History').all().map(i => i.json).filter(i => i && i.weight_kg);\n\nconst currentWeight = parseFloat(userData.weight_kg) || null;\nconst targetWeight = goalRow?.target_weight ? parseFloat(goalRow.target_weight) : null;\nconst goalType = goalRow?.goal_type || userData.goal || 'general';\n\nlet totalChange = 0, weeklyRate = 0, percentProgress = 0, projectedDate = null;\n\nif (weightHistory.length >= 2) {\n  const latest = parseFloat(weightHistory[0].weight_kg);\n  const oldest = parseFloat(weightHistory[weightHistory.length - 1].weight_kg);\n  totalChange = parseFloat((latest - oldest).toFixed(1));\n  const days = weightHistory.length > 1\n    ? (new Date(weightHistory[0].logged_at) - new Date(weightHistory[weightHistory.length-1].logged_at)) / (1000*60*60*24)\n    : 7;\n  weeklyRate = days > 0 ? parseFloat(((totalChange / days) * 7).toFixed(2)) : 0;\n}\n\nif (targetWeight && currentWeight && weeklyRate !== 0) {\n  const remaining = targetWeight - currentWeight;\n  percentProgress = totalChange !== 0\n    ? Math.min(100, Math.round(Math.abs(totalChange) / Math.abs((userData.start_weight || currentWeight) - targetWeight) * 100))\n    : 0;\n  const weeksLeft = Math.abs(remaining / weeklyRate);\n  const projDate = new Date();\n  projDate.setDate(projDate.getDate() + Math.round(weeksLeft * 7));\n  projectedDate = projDate.toLocaleDateString('es-CO', { timeZone: 'America/Bogota' });\n}\n\nreturn [{\n  json: {\n    userId: userData.user_id,\n    firstName: userData.first_name,\n    currentWeight,\n    targetWeight,\n    goalType,\n    totalChange,\n    weeklyRate,\n    percentProgress,\n    projectedDate,\n    weightHistory: weightHistory.slice(0, 5),\n    daysTracked: weightHistory.length,\n    hasGoal: !!goalRow?.goal_type,\n    hasWeightData: weightHistory.length > 0\n  }\n}];\n"
        },
        "id": "node-w7-5",
        "name": "Calculate Progress",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          304
        ]
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\n\nconst changeSymbol = data.totalChange > 0 ? '+' : '';\nconst trendEmoji = data.totalChange < 0 ? '📉' : data.totalChange > 0 ? '📈' : '➡️';\n\nlet message = '📊 *Reporte de Progreso*\\n\\nHola ' + data.firstName + '!\\n\\n';\nmessage += '⚖️ Peso actual: *' + data.currentWeight + ' kg*\\n';\n\nif (data.targetWeight) {\n  message += '🎯 Peso objetivo: *' + data.targetWeight + ' kg*\\n';\n}\n\nmessage += trendEmoji + ' Cambio total: *' + changeSymbol + data.totalChange + ' kg*\\n';\nmessage += '📅 Tasa semanal: *' + (data.weeklyRate > 0 ? '+' : '') + data.weeklyRate + ' kg/semana*\\n';\n\nif (data.percentProgress !== undefined) {\n  message += '✅ Progreso hacia meta: *' + data.percentProgress + '%*\\n';\n}\n\nif (data.projectedDate) {\n  message += '🗓️ Fecha estimada de meta: *' + data.projectedDate + '*\\n';\n}\n\nmessage += '\\n¡Sigue así! Cada paso cuenta. 💪';\n\nreturn [{ json: { chatId: data.chatId, message } }];"
        },
        "id": "node-w7-6",
        "name": "Format Progress Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1344,
          304
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Get User Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get User Data": {
        "main": [
          [
            {
              "node": "Get Goals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Goals": {
        "main": [
          [
            {
              "node": "Get Weight History",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Weight History": {
        "main": [
          [
            {
              "node": "Calculate Progress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Progress": {
        "main": [
          [
            {
              "node": "Format Progress Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Progress Message": {
        "main": [
          []
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-02T01:11:38.562Z",
        "id": 337,
        "workflowId": "bhJ8qqZXr68Id3pH",
        "versionId": "0ef1594a-299d-4789-976a-efbf22c33376",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}