n8n/workflows/10-membership-alert.json
{
  "updatedAt": "2026-03-28T16:47:26.037Z",
  "createdAt": "2026-03-27T16:34:21.840Z",
  "id": "I4Q4C6SOPY2fnK3W",
  "name": "FitAI - Membership Alert",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "node-w10-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.telegram_id, u.first_name, m.expires_at, m.plan_type FROM memberships m JOIN users u ON u.id = m.user_id WHERE m.status = 'active' AND m.expires_at BETWEEN NOW() AND NOW() + INTERVAL '3 days' AND u.is_active = true",
        "options": {}
      },
      "id": "node-w10-2",
      "name": "Get Expiring Memberships",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        464,
        304
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n\n  const now = new Date();\n  const expiresAt = new Date(data.expires_at);\n  const diffMs = expiresAt - now;\n  const daysLeft = Math.ceil(diffMs / (1000 * 60 * 60 * 24));\n\n  const expiresAtFormatted = expiresAt.toLocaleDateString('es-ES', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n  });\n\n  const planTypeLabel = {\n    'monthly': 'mensual',\n    'quarterly': 'trimestral',\n    'annual': 'anual',\n    'weekly': 'semanal'\n  }[data.plan_type] || data.plan_type;\n\n  return {\n    json: {\n      telegramId: data.telegram_id,\n      firstName: data.first_name,\n      planType: planTypeLabel,\n      daysLeft,\n      expiresAt: expiresAtFormatted\n    }\n  };\n});"
      },
      "id": "node-w10-4",
      "name": "Calculate Days Left",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ '\u26a0\ufe0f Hola ' + $json.firstName + ', tu membres\u00eda ' + $json.planType + ' vence en ' + $json.daysLeft + ' d\u00eda(s) (' + $json.expiresAt + '). Para renovar, contacta al administrador.' }}",
        "additionalFields": {}
      },
      "id": "node-w10-5",
      "name": "Send Expiry Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        304
      ],
      "webhookId": "6577c22b-625e-4d6f-a29a-67348f71babf",
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Expiring Memberships",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expiring Memberships": {
      "main": [
        [
          {
            "node": "Calculate Days Left",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Days Left": {
      "main": [
        [
          {
            "node": "Send Expiry Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "c81f8d9f-194a-4f81-a245-a86d6af1af31",
  "activeVersionId": "c81f8d9f-194a-4f81-a245-a86d6af1af31",
  "versionCounter": 36,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-27T16:34:21.843Z",
      "createdAt": "2026-03-27T16:34:21.843Z",
      "role": "workflow:owner",
      "workflowId": "I4Q4C6SOPY2fnK3W",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-28T16:47:26.038Z",
    "createdAt": "2026-03-28T16:47:26.038Z",
    "versionId": "c81f8d9f-194a-4f81-a245-a86d6af1af31",
    "workflowId": "I4Q4C6SOPY2fnK3W",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9 * * *"
              }
            ]
          }
        },
        "id": "node-w10-1",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT u.telegram_id, u.first_name, m.expires_at, m.plan_type FROM memberships m JOIN users u ON u.id = m.user_id WHERE m.status = 'active' AND m.expires_at BETWEEN NOW() AND NOW() + INTERVAL '3 days' AND u.is_active = true",
          "options": {}
        },
        "id": "node-w10-2",
        "name": "Get Expiring Memberships",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          464,
          304
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n\n  const now = new Date();\n  const expiresAt = new Date(data.expires_at);\n  const diffMs = expiresAt - now;\n  const daysLeft = Math.ceil(diffMs / (1000 * 60 * 60 * 24));\n\n  const expiresAtFormatted = expiresAt.toLocaleDateString('es-ES', {\n    day: '2-digit',\n    month: '2-digit',\n    year: 'numeric'\n  });\n\n  const planTypeLabel = {\n    'monthly': 'mensual',\n    'quarterly': 'trimestral',\n    'annual': 'anual',\n    'weekly': 'semanal'\n  }[data.plan_type] || data.plan_type;\n\n  return {\n    json: {\n      telegramId: data.telegram_id,\n      firstName: data.first_name,\n      planType: planTypeLabel,\n      daysLeft,\n      expiresAt: expiresAtFormatted\n    }\n  };\n});"
        },
        "id": "node-w10-4",
        "name": "Calculate Days Left",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          912,
          304
        ]
      },
      {
        "parameters": {
          "chatId": "={{ $json.telegramId }}",
          "text": "={{ '\u26a0\ufe0f Hola ' + $json.firstName + ', tu membres\u00eda ' + $json.planType + ' vence en ' + $json.daysLeft + ' d\u00eda(s) (' + $json.expiresAt + '). Para renovar, contacta al administrador.' }}",
          "additionalFields": {}
        },
        "id": "node-w10-5",
        "name": "Send Expiry Alert",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1120,
          304
        ],
        "webhookId": "6577c22b-625e-4d6f-a29a-67348f71babf",
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Expiring Memberships",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Expiring Memberships": {
        "main": [
          [
            {
              "node": "Calculate Days Left",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Days Left": {
        "main": [
          [
            {
              "node": "Send Expiry Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-28T16:47:27.092Z",
        "id": 139,
        "workflowId": "I4Q4C6SOPY2fnK3W",
        "versionId": "c81f8d9f-194a-4f81-a245-a86d6af1af31",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}