n8n/workflows/19-silence-detector.json
{
  "updatedAt": "2026-04-02T14:49:28.295Z",
  "createdAt": "2026-04-01T20:41:23.657Z",
  "id": "ytuz6H8cdBm8oyTx",
  "name": "FitAI - Silence Detector",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "sd-01",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        },
        "timezone": "America/Bogota"
      }
    },
    {
      "id": "sd-02",
      "name": "Get Silent Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        480,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id AS user_id, u.telegram_id, u.first_name,\n       last_interaction.last_at,\n       EXTRACT(EPOCH FROM (NOW() - last_interaction.last_at)) / 3600 AS hours_silent\nFROM users u\nJOIN memberships m ON u.id = m.user_id AND m.status = 'active' AND m.expires_at > NOW()\nJOIN user_profiles up ON u.id = up.user_id AND up.onboarding_completed = true\nCROSS JOIN LATERAL (\n  SELECT MAX(created_at) AS last_at FROM conversation_logs WHERE user_id = u.id\n) last_interaction\nWHERE u.is_active = true\n  AND last_interaction.last_at < NOW() - INTERVAL '24 hours'\n  AND last_interaction.last_at > NOW() - INTERVAL '72 hours'\n  AND NOT EXISTS (\n    SELECT 1 FROM conversation_logs cl\n    WHERE cl.user_id = u.id AND cl.message_type = 'silence_check' AND cl.created_at::date = (NOW() AT TIME ZONE 'America/Bogota')::date\n  );",
        "options": {}
      }
    },
    {
      "id": "sd-03",
      "name": "Has Users?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "sd-04",
      "name": "Build Silence Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        160
      ],
      "parameters": {
        "jsCode": "const firstName = $json.first_name;\nconst hoursSilent = Math.round($json.hours_silent);\n\nconst messages = [\n  `Oye ${firstName}, ¿todo bien? Llevas un rato sin reportar y quería ver cómo vas.`,\n  `${firstName}, ¿cómo andas? Si se te complicó el plan ayer no pasa nada, pero cuéntame para ajustar.`,\n  `Hey ${firstName}, solo quería saber cómo estás. Si necesitas cambiar algo del plan, dime.`,\n  `${firstName}, aquí estoy pendiente. Cualquier cosa que necesites, escríbeme.`\n];\n\nconst message = messages[Math.floor(Math.random() * messages.length)];\n\nreturn [{ json: { telegramId: $json.telegram_id, userId: $json.user_id, message } }];\n"
      }
    },
    {
      "id": "sd-05",
      "name": "Send Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        160
      ],
      "continueOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "1duS64x2hsrz3moJ",
          "name": "Telegram account fitia"
        }
      },
      "parameters": {
        "chatId": "={{ $json.telegramId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "appendAttribution": false
        }
      }
    },
    {
      "id": "sd-06",
      "name": "Log Silence Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1440,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "QLEgAnHDncQkLeNb",
          "name": "Postgres account Fitia"
        }
      },
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversation_logs (user_id, message_type, message_text, assistant_response, created_at) VALUES ($1, 'silence_check', '[proactive]', $2, NOW());",
        "options": {
          "queryReplacement": "={ [$('Build Silence Message').item.json.userId, $('Build Silence Message').item.json.message] }"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Get Silent Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Silent Users": {
      "main": [
        [
          {
            "node": "Has Users?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Users?": {
      "main": [
        [
          {
            "node": "Build Silence Message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Build Silence Message": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Log Silence Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Cron Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "7c2a1ace-26c3-43a0-afb7-7cd363a81e65",
  "activeVersionId": "7c2a1ace-26c3-43a0-afb7-7cd363a81e65",
  "versionCounter": 13,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-01T20:41:23.659Z",
      "createdAt": "2026-04-01T20:41:23.659Z",
      "role": "workflow:owner",
      "workflowId": "ytuz6H8cdBm8oyTx",
      "projectId": "GE3JULxyP9D4KS9G",
      "project": {
        "updatedAt": "2026-03-12T16:58:26.122Z",
        "createdAt": "2026-03-12T15:02:21.486Z",
        "id": "GE3JULxyP9D4KS9G",
        "name": "Mauro Ibarra  <leandro.147.mi@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-02T14:49:28.295Z",
    "createdAt": "2026-04-02T14:49:28.295Z",
    "versionId": "7c2a1ace-26c3-43a0-afb7-7cd363a81e65",
    "workflowId": "ytuz6H8cdBm8oyTx",
    "nodes": [
      {
        "id": "sd-01",
        "name": "Cron Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 18 * * *"
              }
            ]
          },
          "timezone": "America/Bogota"
        }
      },
      {
        "id": "sd-02",
        "name": "Get Silent Users",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          480,
          300
        ],
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT u.id AS user_id, u.telegram_id, u.first_name,\n       last_interaction.last_at,\n       EXTRACT(EPOCH FROM (NOW() - last_interaction.last_at)) / 3600 AS hours_silent\nFROM users u\nJOIN memberships m ON u.id = m.user_id AND m.status = 'active' AND m.expires_at > NOW()\nJOIN user_profiles up ON u.id = up.user_id AND up.onboarding_completed = true\nCROSS JOIN LATERAL (\n  SELECT MAX(created_at) AS last_at FROM conversation_logs WHERE user_id = u.id\n) last_interaction\nWHERE u.is_active = true\n  AND last_interaction.last_at < NOW() - INTERVAL '24 hours'\n  AND last_interaction.last_at > NOW() - INTERVAL '72 hours'\n  AND NOT EXISTS (\n    SELECT 1 FROM conversation_logs cl\n    WHERE cl.user_id = u.id AND cl.message_type = 'silence_check' AND cl.created_at::date = (NOW() AT TIME ZONE 'America/Bogota')::date\n  );",
          "options": {}
        }
      },
      {
        "id": "sd-03",
        "name": "Has Users?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          720,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $input.all().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          }
        }
      },
      {
        "id": "sd-04",
        "name": "Build Silence Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          960,
          160
        ],
        "parameters": {
          "jsCode": "const firstName = $json.first_name;\nconst hoursSilent = Math.round($json.hours_silent);\n\nconst messages = [\n  `Oye ${firstName}, ¿todo bien? Llevas un rato sin reportar y quería ver cómo vas.`,\n  `${firstName}, ¿cómo andas? Si se te complicó el plan ayer no pasa nada, pero cuéntame para ajustar.`,\n  `Hey ${firstName}, solo quería saber cómo estás. Si necesitas cambiar algo del plan, dime.`,\n  `${firstName}, aquí estoy pendiente. Cualquier cosa que necesites, escríbeme.`\n];\n\nconst message = messages[Math.floor(Math.random() * messages.length)];\n\nreturn [{ json: { telegramId: $json.telegram_id, userId: $json.user_id, message } }];\n"
        }
      },
      {
        "id": "sd-05",
        "name": "Send Message",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1200,
          160
        ],
        "continueOnFail": true,
        "credentials": {
          "telegramApi": {
            "id": "1duS64x2hsrz3moJ",
            "name": "Telegram account fitia"
          }
        },
        "parameters": {
          "chatId": "={{ $json.telegramId }}",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "Markdown",
            "appendAttribution": false
          }
        }
      },
      {
        "id": "sd-06",
        "name": "Log Silence Check",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1440,
          160
        ],
        "credentials": {
          "postgres": {
            "id": "QLEgAnHDncQkLeNb",
            "name": "Postgres account Fitia"
          }
        },
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO conversation_logs (user_id, message_type, message_text, assistant_response, created_at) VALUES ($1, 'silence_check', '[proactive]', $2, NOW());",
          "options": {
            "queryReplacement": "={ [$('Build Silence Message').item.json.userId, $('Build Silence Message').item.json.message] }"
          }
        }
      }
    ],
    "connections": {
      "Cron Trigger": {
        "main": [
          [
            {
              "node": "Get Silent Users",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Silent Users": {
        "main": [
          [
            {
              "node": "Has Users?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Users?": {
        "main": [
          [
            {
              "node": "Build Silence Message",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "Build Silence Message": {
        "main": [
          [
            {
              "node": "Send Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Message": {
        "main": [
          [
            {
              "node": "Log Silence Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Mauro Ibarra ",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-02T14:49:28.850Z",
        "id": 365,
        "workflowId": "ytuz6H8cdBm8oyTx",
        "versionId": "7c2a1ace-26c3-43a0-afb7-7cd363a81e65",
        "event": "activated",
        "userId": "819e8e30-8c22-45f5-bfc4-a0c15b406dea"
      }
    ]
  }
}